---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/95766f43-2ac1-49d2-8c3c-999c7b437f67/adjust
    body:
      encoding: UTF-8
      string: '{"adjustmentReason":"Other","adjustmentDescription":"Completed order
        contents were changed","newTransaction":{"type":"SalesInvoice","code":"95766f43-2ac1-49d2-8c3c-999c7b437f67","referenceCode":"R968044958","companyCode":"test1","date":"2019-04-03","customerCode":"tristan_mertz@westschaefer.us","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":2,"amount":"20.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"PA","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"description":"Odit
        et et voluptatibus qui unde illo. Repellendus esse distinctio asperiores dolor.
        Et repudiandae et quis commodi omnis enim accusamus.\nEos adipisci enim distinctio
        enim qui non quae. Ut vel a quos aliquid qui optio qui. Id eos magni natus
        minima temporibus qui quibusdam cumque.\nVelit voluptatem explicabo voluptatibus
        nesciunt dolorem sint perferendis. Rerum sit error dolorem animi quas voluptates.
        Cumque ab sit quisquam repellat rerum.\nIllum doloribus praesentium at fugit
        totam cumque. Nisi placeat dignissimos facere voluptates minus. Illum illo
        qui sequi provident.","sku":"SKU-4"},{"number":"FR-6a9efefa-0c6c-4e63-ab43-f43f1d7b2e22","quantity":1,"amount":"10.0","taxCode":"FR","discounted":false,"addresses":{}}],"commit":true,"discount":"0.0"}}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848107/transactions/10829824787"
      Serverduration:
      - '00:00:00.1477309'
      Databasecalls:
      - '1'
      Databaseduration:
      - '00:00:00.0030000'
      Serviceduration:
      - '00:00:00.1205110'
    body:
      encoding: UTF-8
      string: '{"id":10829824787,"code":"95766f43-2ac1-49d2-8c3c-999c7b437f67","companyId":848107,"date":"2019-04-03","paymentDate":"1900-01-01","status":"Committed","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"tristan_mertz@westschaefer.us","customerCode":"tristan_mertz@westschaefer.us","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"R968044958","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":30.0000,"totalExempt":0.0000,"totalDiscount":0.0000,"totalTax":2.4000,"totalTaxable":30.0000,"totalTaxCalculated":2.4000,"adjustmentReason":"Other","adjustmentDescription":"Completed
        order contents were changed","locked":false,"region":"PA","country":"US","version":2,"softwareVersion":"19.3.1.4","originAddressId":5418374783,"destinationAddressId":5418374783,"exchangeRateEffectiveDate":"2019-04-03","exchangeRate":1.0000,"isSellerImporterOfRecord":true,"description":"","email":"","businessIdentificationNo":"","modifiedDate":"2019-04-03T15:32:09.243","modifiedUserId":390298,"taxDate":"2019-04-03T00:00:00","lines":[{"id":12036235266,"transactionId":10829824787,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Odit
        et et voluptatibus qui unde illo. Repellendus esse distinctio asperiores dolor.
        Et repudiandae et quis commodi omnis enim accusamus.Eos adipisci enim distinctio
        enim qui non quae. Ut vel a quos aliquid qui optio qui. Id eos magni natus
        minima temporibus qui quibusdam cumque.Velit voluptatem explicabo voluptatibus
        nesciunt dolorem sint perferendis. Rerum sit error dolorem animi quas voluptates.
        Cumque ab sit quisquam repellat rerum.Illum doloribus praesentium at fugit
        totam cumque. Nisi placeat dignissimos facere voluptates minus. Illum illo
        qui sequi provident.","destinationAddressId":5418374783,"originAddressId":7418374783,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":20.0000,"quantity":2.0000,"ref1":"","ref2":"","reportingDate":"2019-04-03","revAccount":"","sourcing":"Destination","tax":1.6000,"taxableAmount":20.0000,"taxCalculated":1.6000,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-03","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0000,"taxOverrideReason":"","taxIncluded":false,"details":[{"id":15649135370,"transactionLineId":12036235266,"transactionId":10829824787,"addressId":5418374783,"country":"US","region":"PA","countyFIPS":"","stateFIPS":"42","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"42","jurisName":"PENNSYLVANIA","jurisdictionId":49,"signatureCode":"BKTQ","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.060000,"rateRuleId":1457985,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":1.2000,"taxableAmount":20.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxRegionId":4014900,"taxCalculated":1.2000,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":20.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false},{"id":27658679796,"transactionLineId":12036235266,"transactionId":10829824787,"addressId":5418374783,"country":"US","region":"PA","countyFIPS":"","stateFIPS":"42","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"101","jurisName":"PHILADELPHIA","jurisdictionId":2311,"signatureCode":"BMWV","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.020000,"rateRuleId":1458005,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":0.4000,"taxableAmount":20.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxRegionId":4014900,"taxCalculated":0.4000,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":20.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":12725731483,"documentLineId":12036235266,"documentAddressId":5418374783,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":10508673342,"documentLineId":12036235266,"documentAddressId":7418374783,"locationTypeCode":"ShipFrom"}],"parameters":{},"hsCode":"","costInsuranceFreight":0.0000,"vatCode":"","vatNumberTypeId":0},{"id":5827899020,"transactionId":10829824787,"lineNumber":"FR-6a9efefa-0c6c-4e63-ab43-f43f1d7b2e22","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":5418374783,"originAddressId":5418374783,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":10.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-04-03","revAccount":"","s[...]
