---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":null,"referenceCode":"R138700256","companyCode":"test1","date":"2019-04-04","customerCode":"kaley.torphy@cruickshank.ca","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":2,"amount":"20.0","taxCode":"P0000000","discounted":false,"addresses":{},"description":"Necessitatibus
        impedit earum enim quas quia voluptas quis. Esse voluptatum nihil aut aut
        commodi. Error doloribus nulla autem quo. Aut praesentium sapiente rem non
        aspernatur corporis qui libero.","sku":"a83fa82864fb84839cb51e5820676aec"},{"number":"LI-50f0c7ba-0c5f-4479-a24a-3de192354004","quantity":3,"amount":"30.0","taxCode":"P0000000","discounted":false,"addresses":{},"description":"Aspernatur
        officiis non nostrum sed enim cumque. Dolorem explicabo qui dolores occaecati
        dolores. Est laudantium facilis ut sunt at tempore.\nFugiat saepe consequatur
        vel qui cum eos eum aliquam. Ipsum sint quaerat animi voluptatem. Delectus
        qui at aut excepturi dolorem. Magnam voluptatem adipisci excepturi eum tenetur
        ab placeat sit. Ab esse minima eligendi sit non incidunt qui.\nVoluptate ipsa
        labore facilis voluptatum tenetur et quod ea. Maxime quasi sint neque ut debitis
        unde temporibus. Maiores voluptatem id officia sint magnam adipisci dolorum.\nVoluptas
        deserunt ut nemo perspiciatis ex dolorem ab. Quia aliquam debitis mollitia
        tempore. Quo saepe occaecati facere quas non molestiae id culpa.","sku":"5d836723deb85d2e24cd643c2911cf20"}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0594415'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0575532'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"49878ff9-aedd-4fe1-9365-f965b486943f","companyId":0,"date":"2019-04-04","paymentDate":"2019-04-04","status":"Temporary","type":"SalesOrder","customerVendorCode":"kaley.torphy@cruickshank.ca","customerCode":"kaley.torphy@cruickshank.ca","reconciled":false,"referenceCode":"R138700256","totalAmount":50.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":4.0,"totalTaxable":50.0,"totalTaxCalculated":4.0,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-04","exchangeRate":1.0,"modifiedDate":"2019-04-04T09:24:06.3149315Z","modifiedUserId":356147,"taxDate":"2019-04-04T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Necessitatibus
        impedit earum enim quas quia voluptas quis. Esse voluptatum nihil aut aut
        commodi. Error doloribus nulla autem quo. Aut praesentium sapiente rem non
        aspernatur corporis qui libero.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":20.0,"quantity":2.0,"reportingDate":"2019-04-04","tax":1.6,"taxableAmount":20.0,"taxCalculated":1.6,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-04","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":1.2,"taxableAmount":20.0,"taxType":"Sales","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":1.2,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.4,"taxableAmount":20.0,"taxType":"Sales","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.4,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0},{"id":0,"transactionId":0,"lineNumber":"LI-50f0c7ba-0c5f-4479-a24a-3de192354004","description":"Aspernatur
        officiis non nostrum sed enim cumque. Dolorem explicabo qui dolores occaecati
        dolores. Est laudantium facilis ut sunt at tempore.\nFugiat saepe consequatur
        vel qui cum eos eum aliquam. Ipsum sint quaerat animi voluptatem. Delectus
        qui at aut excepturi dolorem. Magnam voluptatem adipisci excepturi eum tenetur
        ab placeat sit. Ab esse minima eligendi [...]
