---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R822664378","referenceCode":"R822664378","companyCode":"test1","date":"2019-09-20","customerCode":"letha@cassin.info","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"Invalid
        street","line2":"","city":"Invalid city","region":"PA","country":"US","postalCode":"00000"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Product
        #55 - 8785","itemCode":"SKU-55"}],"commit":false,"discount":"0.0","currencyCode":"USD","purchaseOrderNo":"R822664378"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;19.7.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0384727'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"GetTaxError","message":"Tax calculation cannot be
        determined. Zip is not valid for the state.","target":"Unknown","details":[{"code":"GetTaxError","number":300,"message":"Tax
        calculation cannot be determined. Zip is not valid for the state.","description":"Invalid
        St, Invalid city, PA 00000 US (AddressLocationType: ShipTo)","faultCode":"GetTaxError","helpLink":"http://developer.avalara.com/avatax/errors/GetTaxError","refersTo":"Addresses[1]","severity":"Error"}]}}'
  recorded_at: Fri, 20 Sep 2019 09:03:50 GMT
[...]
