---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R539202302","referenceCode":"R539202302","companyCode":"test1","date":"2019-04-25","customerCode":"rufus_murray@rolfson.info","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"Invalid
        street","line2":"","city":"Invalid city","region":"PA","country":"US","postalCode":"00000"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Product
        #1 - 9387","itemCode":"SKU-1"}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;19.3.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0357108'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0336652'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"GetTaxError","message":"Unable to determine the taxing
        jurisdictions.","target":"Unknown","details":[{"code":"GetTaxError","number":300,"message":"Unable
        to determine the taxing jurisdictions.","description":"Invalid St, Invalid
        city, PA 00000 US (AddressLocationType: ShipTo)","faultCode":"GetTaxError","helpLink":"http://developer.avalara.com/avatax/errors/GetTaxError","refersTo":"Addresses[1]","severity":"Error"}]}}'
  recorded_at: Thu, 25 Apr 2019 08:43:46 GMT
recorded_with: VCR 4.0.0
