---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":null,"companyCode":"test1","date":"2019-02-27","customerCode":"osvaldo_rohan@yundtpfannerstill.com","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"10
        Lovely Street","line2":"Northwest","city":"Herndon","region":"STATE_ABBR_2","country":"US","postalCode":"35005"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false},{"number":"FR-32b377e9-4fa0-4c76-97d6-020c2dd66ab5","quantity":1,"amount":"100.0","taxCode":"FR","discounted":false}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.1266414'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.1253761'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"GetTaxError","message":"Invalid or missing state/province
        code (STA).","target":"Unknown","details":[{"code":"GetTaxError","number":300,"message":"Invalid
        or missing state/province code (STA).","description":"STA is not a known state
        or province.","faultCode":"GetTaxError","helpLink":"http://developer.avalara.com/avatax/errors/GetTaxError","refersTo":"Addresses[1]","severity":"Error"}]}}'
  recorded_at: Wed, 27 Feb 2019 15:48:30 GMT
recorded_with: VCR 4.0.0
