---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create?$include=ForceTimeout
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","companyCode":"test1","date":"2019-02-01","customerCode":"lorean_rodriguez@bernhardharvey.info","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"SKU-3","quantity":1,"amount":"10.0"}]}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0475285'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0460117'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"TimeoutRequested","message":"You requested a timeout
        error for this API call.","target":"HttpRequest","details":[{"code":"TimeoutRequested","number":316,"message":"You
        requested a timeout error for this API call.","description":"You passed the
        parameter `$include=ForceTimeout` to this API.  The `ForceTimeout` include
        option simulates a timeout error to make tests easier.  To stop receiving
        this error code, remove the word `ForceTimeout`.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/TimeoutRequested","severity":"Error"}]}}'
  recorded_at: Fri, 01 Feb 2019 12:27:53 GMT
recorded_with: VCR 4.0.0
