---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/testerror
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0041586'
      Databasecalls:
      - '1'
      Databaseduration:
      - '00:00:00.0000040'
      Serviceduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"EntityNotFoundError","message":"Transaction not found.","target":"HttpRequest","details":[{"code":"EntityNotFoundError","number":4,"message":"Transaction
        not found.","description":"The Transaction with code ''test1:testerror'' was
        not found.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/EntityNotFoundError","severity":"Error"}]}}'
  recorded_at: Mon, 18 Feb 2019 21:07:22 GMT
recorded_with: VCR 4.0.0
