---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/test123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;19.7.0;
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848107/transactions/4810140820"
      Serverduration:
      - '00:00:00.6192718'
    body:
      encoding: UTF-8
      string: '{"id":4810140820,"code":"test123","companyId":848107,"date":"2017-06-05","paymentDate":"1900-01-01","status":"Committed","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"ABC","customerCode":"ABC","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":120.0000,"totalExempt":120.0000,"totalDiscount":0.0000,"totalTax":0.0000,"totalTaxable":0.0000,"totalTaxCalculated":0.0000,"adjustmentReason":"PriceAdjusted","adjustmentDescription":"","locked":false,"region":"CA","country":"US","version":7,"softwareVersion":"19.1.0.16","originAddressId":11594662439,"destinationAddressId":9389168836,"exchangeRateEffectiveDate":"2017-06-05","exchangeRate":1.0000,"isSellerImporterOfRecord":false,"description":"","email":"","businessIdentificationNo":"","modifiedDate":"2019-02-06T10:45:01.633","modifiedUserId":356147,"taxDate":"2017-06-05T00:00:00","lines":[{"id":5790130243,"transactionId":4810140820,"lineNumber":"1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":9389168836,"originAddressId":11594662439,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":120.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":120.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2017-06-05","revAccount":"","sourcing":"Origin","tax":0.0000,"taxableAmount":0.0000,"taxCalculated":0.0000,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2017-06-05","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0000,"taxOverrideReason":"","taxIncluded":false,"details":[{"id":13592791856,"transactionLineId":5790130243,"transactionId":4810140820,"addressId":11594662439,"country":"US","region":"CA","countyFIPS":"","stateFIPS":"06","exemptAmount":0.0000,"exemptReasonId":6,"inState":true,"jurisCode":"06","jurisName":"CALIFORNIA","jurisdictionId":5000531,"signatureCode":"AGAM","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":120.0000,"nonTaxableRuleId":0,"nonTaxableType":"NexusRule","rate":0.000000,"rateRuleId":0,"rateSourceId":0,"serCode":"","sourcing":"Origin","tax":0.0000,"taxableAmount":0.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"CA
        STATE TAX","taxAuthorityTypeId":45,"taxRegionId":2127863,"taxCalculated":0.0000,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":0.0000,"nonTaxableUnits":120.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":8430926644,"documentLineId":5790130243,"documentAddressId":9389168836,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":6430926644,"documentLineId":5790130243,"documentAddressId":11594662439,"locationTypeCode":"ShipFrom"}],"hsCode":"","costInsuranceFreight":0.0000,"vatCode":"","vatNumberTypeId":0}],"addresses":[{"id":9389168836,"transactionId":4810140820,"boundaryLevel":"Address","line1":"100
        Market St","line2":"","line3":"","city":"San Francisco","region":"CA","postalCode":"94111","country":"US","taxRegionId":2128434,"latitude":"37.793815","longitude":"-122.395832"},{"id":11594662439,"transactionId":4810140820,"boundaryLevel":"Zip5","line1":"123
        Main Street","line2":"","line3":"","city":"Irvine","region":"CA","postalCode":"92615","country":"US","taxRegionId":2127863,"latitude":"33.657808","longitude":"-117.968489"}],"locationTypes":[{"documentLocationTypeId":10848111441,"documentId":4810140820,"documentAddressId":11594662439,"locationTypeCode":"ShipFrom"},{"documentLocationTypeId":4644330636,"documentId":4810140820,"documentAddressId":9389168836,"locationTypeCode":"ShipTo"}],"summary":[{"country":"US","region":"CA","jurisType":"State","jurisCode":"06","jurisName":"CALIFORNIA","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Sales","taxSubType":"S","taxName":"CA
        STATE TAX","rateType":"General","taxable":0.00,"rate":0.000000,"tax":0.00,"taxCalculated":0.00,"nonTaxable":120.00,"exemption":0.00}]}'
  recorded_at: Fri, 20 Sep 2019 09:02:35 GMT
recorded_with: VCR 4.0.0
