---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesInvoice","code":"R680546408","referenceCode":"R680546408","companyCode":"test1","date":"2019-04-08","customerCode":"eliza.gleichner@rowe.biz","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"taxIncluded":false,"description":"Fuga
        quibusdam esse facere est nihil aut. Ipsam numquam nam laudantium praesentium
        aut. Voluptatem deserunt quisquam odit quo in est. Et quas ea distinctio totam.
        Ab in voluptatem qui quia et maiores delectus.\nQuis ea et sed aut sit vitae
        reprehenderit nobis. Consequatur fugiat et dolorem quo excepturi quam nihil
        neque. Eius dolorum quia qui molestiae voluptatum aliquam sapiente quo.\nRem
        perferendis consequuntur rerum recusandae voluptate. Et odit impedit at magnam
        eveniet repellendus delectus dolorum. Accusamus et iste eaque ab. Animi sit
        amet reprehenderit hic.\nTempore et excepturi blanditiis eligendi temporibus.
        Aut tenetur maiores ducimus qui dolorum iste ut eaque. Molestiae excepturi
        officia iusto illo omnis aut ipsum et. Nobis et odio fugiat eveniet eum nostrum
        amet. Qui quia magnam odit placeat.\nQui dolorem quo consequatur adipisci
        amet. Exercitationem vel omnis numquam quo fuga quod reprehenderit. Vel ut
        molestiae asperiores iure aut est dolor provident.","sku":"bcf571afee358df30529e31be39ac38f"},{"number":"LI-6b521594-87f3-46f9-a5db-03977715df51","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"taxIncluded":false,"description":"Laudantium
        aliquid esse[...]
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/R680546408/adjust
    body:
      encoding: UTF-8
      string: '{"adjustmentReason":"","adjustmentDescription":"","newTransaction":{"type":"SalesInvoice","code":"R680546408","referenceCode":"R680546408","companyCode":"test1","date":"2019-04-08","customerCode":"eliza.gleichner@rowe.biz","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amou[...]
