---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesInvoice","code":null,"referenceCode":"R187063978","companyCode":"test1","date":"2019-04-04","customerCode":"debi@mraz.info","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"description":"Itaque
        ad voluptatem aut maxime. Hic quis eos qui neque. Enim iure aut rerum neque
        quibusdam. Non praesentium qui ea reprehenderit eum dignissimos. Quo vitae
        exercitationem ipsam sunt et perspiciatis et.\nOfficia qui et laboriosam perferendis
        deleniti magni enim. Dicta harum non sapiente aut ullam porro laudantium alias.
        Quos laudantium in quis totam et officiis architecto et. Et quo impedit libero
        quasi.\nPariatur omnis voluptas cupiditate explicabo. Consequatur ea ipsam
        porro animi aut molestias. Aspernatur dolore eligendi blanditiis vel. Dolor
        est reiciendis quo labore et. Voluptatem distinctio sed quidem eum sint corporis
        non totam.","sku":"bcf27af1c7304430f85994ce0e338253"},{"number":"LI-740732e9-cd77-4636-9cfa-124a4c7ef723","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"description":"Saepe
        nobis molestias dignissimos labore ut[...]
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/b0c395be-9dc9-4da8-99f5-9b5301c2207b/adjust
    body:
      encoding: UTF-8
      string: '{"adjustmentReason":"","adjustmentDescription":"","newTransaction":{"type":"SalesInvoice","code":"b0c395be-9dc9-4da8-99f5-9b5301c2207b","referenceCode":"R187063978","companyCode":"test1","date":"2019-04-04","customerCode":"debi@mraz.info","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","q[...]
