---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesInvoice","code":null,"referenceCode":"R619562809","companyCode":"test1","date":"2019-04-04","customerCode":"ella.brekke@stantonfadel.us","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"description":"Sapiente
        maxime est ut officiis quia est. Voluptatum sequi molestiae alias vitae possimus
        deleniti nihil. Dolor eligendi mollitia quo qui occaecati. Et possimus expedita
        similique tenetur pariatur perferendis animi aliquid. Necessitatibus harum
        iste aut minus maxime.\nVelit rerum qui voluptatem natus omnis culpa et. Enim
        odit illo tempore tempora. Consequatur in ut velit sunt est autem laudantium
        repudiandae. Est et quo quas suscipit dolor eveniet qui. Corporis molestiae
        dolorum ea voluptate fugit at.\nAdipisci qui aut velit aut aliquid explicabo
        nostrum enim. Deleniti saepe dolores eum sed dolores nihil pariatur. Veritatis
        asperiores quia exercitationem nostrum. Ipsum sint voluptatem autem maiores
        dolores delectus nam consequatur. Repellat in illum tenetur impedit autem
        eius.","sku":"65c858f51369c55d2d5365365c9f5ba6"},{"number":"FR-4f3f2903-d847-41e8-bb55-bcbd66bcd281","quantity":1,"amount":"100.0","taxCode":"FR","discounted":false,"addresses":{}}],"commit":true,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848107/transactions/4826727712"
      Serverduration:
      - '00:00:00.1288758'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.1233659'
    body:
      encoding: UTF-8
      string: '{"id":4826727712,"code":"81831a9b-971c-4bc8-8d73-4d377d6ec3bf","companyId":848107,"date":"2019-04-04","status":"Committed","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"ella.brekke@stantonfadel.us","customerCode":"ella.brekke@stantonfadel.us","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"R619562809","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":110.0000,"totalExempt":0.0000,"totalDiscount":0.0000,"totalTax":8.8000,"totalTaxable":110.0000,"totalTaxCalculated":8.8000,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"PA","country":"US","version":1,"softwareVersion":"19.3.1.4","originAddressId":5418809829,"destinationAddressId":5418809829,"exchangeRateEffectiveDate":"2019-04-04","exchangeRate":1.0000,"isSellerImporterOfRecord":true,"description":"","email":"","businessIdentificationNo":"","modifiedDate":"2019-04-04T09:56:36.673","modifiedUserId":356147,"taxDate":"2019-04-04T00:00:00","lines":[{"id":5828439383,"transactionId":4826727712,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Sapiente
        maxime est ut officiis quia est. Voluptatum sequi molestiae alias vitae possimus
        deleniti nihil. Dolor eligendi mollitia quo qui occaecati. Et possimus expedita
        similique tenetur pariatur perferendis animi aliquid. Necessitatibus harum
        iste aut minus maxime.Velit rerum qui voluptatem natus omnis culpa et. Enim
        odit illo tempore tempora. Consequatur in ut velit sunt est autem laudantium
        repudiandae. Est et quo quas suscipit dolor eveniet qui. Corporis molestiae
        dolorum ea voluptate fugit at.Adipisci qui aut velit aut aliquid explicabo
        nostrum enim. Deleniti saepe dolores eum sed dolores nihil pariatur. Veritatis
        asperiores quia exercitationem nostrum. Ipsum sint voluptatem autem maiores
        dolores delectus nam consequatur. Repellat in illum tenetur impedit autem
        eius.","destinationAddressId":5418809829,"originAddressId":7418809829,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":10.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-04-04","revAccount":"","sourcing":"Destination","tax":0.8000,"taxableAmount":10.0000,"taxCalculated":0.8000,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-04","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0000,"taxOverrideReason":"","taxIncluded":false,"details":[{"id":9649986167,"transactionLineId":5828439383,"transactionId":4826727712,"addressId":5418809829,"country":"US","region":"PA","countyFIPS":"","stateFIPS":"42","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"42","jurisName":"PENNSYLVANIA","jurisdictionId":49,"signatureCode":"BKTQ","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.060000,"rateRuleId":1457985,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":0.6000,"taxableAmount":10.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxRegionId":4014900,"taxCalculated":0.6000,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":10.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false},{"id":11649986168,"transactionLineId":5828439383,"transactionId":4826727712,"addressId":5418809829,"country":"US","region":"PA","countyFIPS":"","stateFIPS":"42","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"101","jurisName":"PHILADELPHIA","jurisdictionId":2311,"signatureCode":"BMWV","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.020000,"rateRuleId":1458005,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":0.2000,"taxableAmount":10.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxRegionId":4014900,"taxCalculated":0.2000,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":10.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":8509779550,"documentLineId":5828439383,"documentAddressId":5418809829,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":6509779550,"documentLineId":5828439383,"documentAddressId":7418809829,"locationTypeCode":"ShipFrom"}],"parameters":{},"hsCode":"","costInsuranceFreight":0.0000,"vatCode":"","vatNumberTypeId":0},{"id":7828439384,"transactionId":4826727712,"lineNumber":"FR-4f3f2903-d847-41e8-bb55-bcbd66bcd281","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":5418809829,"originAddressId":5418809829,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":100.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-04-04","revAccount":"","s[...]
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/81831a9b-971c-4bc8-8d73-4d377d6ec3bf/adjust
    body:
      encoding: UTF-8
      string: '{"adjustmentReason":"PriceAdjusted","adjustmentDescription":"","newTransaction":{"type":"SalesInvoice","code":"81831a9b-971c-4bc8-8d73-4d377d6ec3bf","referenceCode":"R619562809","companyCode":"test1","date":"2019-04-04","customerCode":"ella.brekke@stantonfadel.us","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a4[...]
