---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesInvoice","code":null,"referenceCode":"R977360981","companyCode":"test1","date":"2019-04-03","customerCode":"bok.cronin@walshheathcote.name","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"PA","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"description":"Vero
        eaque laboriosam animi qui autem qui blanditiis. Dolorem ut et ea hic soluta
        non cupiditate facere. Est nostrum accusantium vel occaecati et consequatur
        fuga sunt. Voluptatum maxime rerum eum ab consequatur nihil reiciendis unde.
        Exercitationem facilis quas omnis autem aut consequatur quos.\nEx asperiores
        ut vero quo voluptatem voluptatem est. Ipsum omnis dolor nostrum vel aut sed.
        Voluptatem sed laudantium nulla eum alias dolorem. Sint omnis eaque expedita
        ipsum. Possimus quod sunt ea eveniet ut nihil.\nLabore est asperiores ut a
        earum ipsa modi iure. Qui enim repudiandae nemo in. Eius sed at modi et assumenda
        distinctio et. Accusamus porro ipsa eum ut ipsam sit.","sku":"SKU-23"},{"number":"FR-c17aabe8-a529-4a77-8158-7f797a81d40b","quantity":1,"amount":"100.0","taxCode":"FR","discounted":false,"addresses":{}}],"commit":true,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848107/transactions/6826477774"
      Serverduration:
      - '00:00:00.1200950'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.1137844'
    body:
      encoding: UTF-8
      string: '{"id":6826477774,"code":"66d780ee-b404-4cb2-ad93-67139a3e13d8","companyId":848107,"date":"2019-04-03","status":"Committed","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"bok.cronin@walshheathcote.name","customerCode":"bok.cronin@walshheathcote.name","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"R977360981","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":110.0000,"totalExempt":0.0000,"totalDiscount":0.0000,"totalTax":8.8000,"totalTaxable":110.0000,"totalTaxCalculated":8.8000,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"PA","country":"US","version":1,"softwareVersion":"19.3.1.4","originAddressId":7418374912,"destinationAddressId":7418374912,"exchangeRateEffectiveDate":"2019-04-03","exchangeRate":1.0000,"isSellerImporterOfRecord":true,"description":"","email":"","businessIdentificationNo":"","modifiedDate":"2019-04-03T15:32:27.977","modifiedUserId":390298,"taxDate":"2019-04-03T00:00:00","lines":[{"id":12036235385,"transactionId":6826477774,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Vero
        eaque laboriosam animi qui autem qui blanditiis. Dolorem ut et ea hic soluta
        non cupiditate facere. Est nostrum accusantium vel occaecati et consequatur
        fuga sunt. Voluptatum maxime rerum eum ab consequatur nihil reiciendis unde.
        Exercitationem facilis quas omnis autem aut consequatur quos.Ex asperiores
        ut vero quo voluptatem voluptatem est. Ipsum omnis dolor nostrum vel aut sed.
        Voluptatem sed laudantium nulla eum alias dolorem. Sint omnis eaque expedita
        ipsum. Possimus quod sunt ea eveniet ut nihil.Labore est asperiores ut a earum
        ipsa modi iure. Qui enim repudiandae nemo in. Eius sed at modi et assumenda
        distinctio et. Accusamus porro ipsa eum ut ipsam sit.","destinationAddressId":7418374912,"originAddressId":9418374913,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":10.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-04-03","revAccount":"","sourcing":"Destination","tax":0.8000,"taxableAmount":10.0000,"taxCalculated":0.8000,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-03","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0000,"taxOverrideReason":"","taxIncluded":false,"details":[{"id":13649135576,"transactionLineId":12036235385,"transactionId":6826477774,"addressId":7418374912,"country":"US","region":"PA","countyFIPS":"","stateFIPS":"42","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"42","jurisName":"PENNSYLVANIA","jurisdictionId":49,"signatureCode":"BKTQ","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.060000,"rateRuleId":1457985,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":0.6000,"taxableAmount":10.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxRegionId":4014900,"taxCalculated":0.6000,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":10.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false},{"id":15649135577,"transactionLineId":12036235385,"transactionId":6826477774,"addressId":7418374912,"country":"US","region":"PA","countyFIPS":"","stateFIPS":"42","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"101","jurisName":"PHILADELPHIA","jurisdictionId":2311,"signatureCode":"BMWV","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.020000,"rateRuleId":1458005,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":0.2000,"taxableAmount":10.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxRegionId":4014900,"taxCalculated":0.2000,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":10.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":12725731723,"documentLineId":12036235385,"documentAddressId":7418374912,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":10508673582,"documentLineId":12036235385,"documentAddressId":9418374913,"locationTypeCode":"ShipFrom"}],"parameters":{},"hsCode":"","costInsuranceFreight":0.0000,"vatCode":"","vatNumberTypeId":0},{"id":5827899139,"transactionId":6826477774,"lineNumber":"FR-c17aabe8-a529-4a77-8158-7f797a81d40b","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":7418374912,"originAddressId":7418374912,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":100.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-04-03","revAccount":"","s[...]
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/66d780ee-b404-4cb2-ad93-67139a3e13d8/adjust
    body:
      encoding: UTF-8
      string: '{"adjustmentReason":"PriceAdjusted","adjustmentDescription":"","newTransaction":{"type":"SalesInvoice","code":"66d780ee-b404-4cb2-ad93-67139a3e13d8","referenceCode":"R977360981","companyCode":"test1","date":"2019-04-03","customerCode":"bok.cronin@walshheathcote.name","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-[...]
