---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R079684527","referenceCode":"R079684527","companyCode":"test1","date":"2019-04-08","customerCode":"kasey@greenfelderledner.us","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":4,"amount":"30.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":true,"description":"Necessitatibus
        enim labore ea repellendus voluptatum et. Consequatur harum id qui accusamus
        quam magni voluptas. Illum et officiis aliquid nemo et sapiente. Id aut reprehenderit
        omnis quae. Consequatur eos laudantium unde laboriosam sapiente doloremque.\nMinima
        minus iusto maiores et. Nihil nesciunt ad vero a atque id. Et accusantium
        quia commodi dolor maiores nihil. Repellat minus occaecati est et et voluptates
        corporis beatae. Exercitationem dolor eos provident praesentium.","sku":"SKU-37"},{"number":"LI-bf57f52a-2ab3-44bc-8be3-8f99ecccd196","quantity":3,"amount":"20.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":true,"description":"Eos
        voluptates dolorem ullam labore sed dolorem voluptatem aliquid. Corporis quisquam
        aut voluptatem magnam velit iste nulla. Ut quia neque totam quis quibusdam.","sku":"SKU-38"}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0547910'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0531485'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"R079684527","companyId":0,"date":"2019-04-08","paymentDate":"2019-04-08","status":"Temporary","type":"SalesOrder","customerVendorCode":"kasey@greenfelderledner.us","customerCode":"kasey@greenfelderledner.us","reconciled":false,"referenceCode":"R079684527","totalAmount":46.3,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":3.7,"totalTaxable":46.3,"totalTaxCalculated":3.7,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-08","exchangeRate":1.0,"modifiedDate":"2019-04-08T14:22:26.5635213Z","modifiedUserId":356147,"taxDate":"2019-04-08T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Necessitatibus
        enim labore ea repellendus voluptatum et. Consequatur harum id qui accusamus
        quam magni voluptas. Illum et officiis aliquid nemo et sapiente. Id aut reprehenderit
        omnis quae. Consequatur eos laudantium unde laboriosam sapiente doloremque.\nMinima
        minus iusto maiores et. Nihil nesciunt ad vero a atque id. Et accusantium
        quia commodi dolor maiores nihil. Repellat minus occaecati est et et voluptates
        corporis beatae. Exercitationem dolor eos provident praesentium.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":27.78,"quantity":4.0,"reportingDate":"2019-04-08","tax":2.22,"taxableAmount":27.78,"taxCalculated":2.22,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-08","taxIncluded":true,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":1.67,"taxableAmount":27.78,"taxType":"Sales","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":1.67,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.55,"taxableAmount":27.78,"taxType":"Sales","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.55,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0},{"id":0,"transactionId":0,"lineNumber":"LI-bf57f52a-2ab3-44bc-8be3-8f99ecccd196","description":"Eos
        voluptates dolorem ullam labore sed dolorem voluptatem aliquid. Corporis quisquam
        aut voluptatem magnam velit iste nulla. Ut quia neque totam quis quibusdam.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":18.52,"quantity":3.0,"reportingDate":"2019-04-08","tax":1.48,"taxableAmount":18.52,"taxCalculated":1.48,"taxCode":"P0000000","taxCo[...]
