---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R804817256","referenceCode":"R804817256","companyCode":"test1","date":"2019-04-08","customerCode":"trenton.swift@reilly.name","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":2,"amount":"20.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":true,"description":"Est
        vel nihil at sit nemo omnis corrupti molestiae. Deleniti necessitatibus voluptatibus
        quo aut doloribus voluptate a nostrum. Sed odio dolores voluptatibus atque
        consequuntur quos. Quidem autem exercitationem rerum laboriosam expedita vel
        provident consequatur. Est iusto et quo natus possimus sapiente quidem.\nVoluptas
        rerum vel voluptatem accusamus quae ut sint aut. Odio explicabo aut rerum
        autem cumque. Quia sit ut optio rerum minima. Optio et deleniti eum asperiores
        similique qui sunt. Omnis quidem et dignissimos quos aut non.","sku":"SKU-43"},{"number":"LI-50f0c7ba-0c5f-4479-a24a-3de192354004","quantity":3,"amount":"30.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":true,"description":"Eaque
        id harum vel est. Ut impedit rerum aut cumque ea cum aut et. Amet et vel a
        excepturi. Dolorum mollitia natus delectus ea at ipsam.","sku":"SKU-44"}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0540345'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0523396'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"R804817256","companyId":0,"date":"2019-04-08","paymentDate":"2019-04-08","status":"Temporary","type":"SalesOrder","customerVendorCode":"trenton.swift@reilly.name","customerCode":"trenton.swift@reilly.name","reconciled":false,"referenceCode":"R804817256","totalAmount":46.3,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":3.7,"totalTaxable":46.3,"totalTaxCalculated":3.7,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-08","exchangeRate":1.0,"modifiedDate":"2019-04-08T14:22:30.8624659Z","modifiedUserId":356147,"taxDate":"2019-04-08T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Est
        vel nihil at sit nemo omnis corrupti molestiae. Deleniti necessitatibus voluptatibus
        quo aut doloribus voluptate a nostrum. Sed odio dolores voluptatibus atque
        consequuntur quos. Quidem autem exercitationem rerum laboriosam expedita vel
        provident consequatur. Est iusto et quo natus possimus sapiente quidem.\nVoluptas
        rerum vel voluptatem accusamus quae ut sint aut. Odio explicabo aut rerum
        autem cumque. Quia sit ut optio rerum minima. Optio et deleniti eum asperiores
        similique qui sunt. Omnis quidem et dignissimos quos aut non.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":18.52,"quantity":2.0,"reportingDate":"2019-04-08","tax":1.48,"taxableAmount":18.52,"taxCalculated":1.48,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-08","taxIncluded":true,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":1.11,"taxableAmount":18.52,"taxType":"Sales","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":1.11,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.37,"taxableAmount":18.52,"taxType":"Sales","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.37,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0},{"id":0,"transactionId":0,"lineNumber":"LI-50f0c7ba-0c5f-4479-a24a-3de192354004","description":"Eaque
        id harum vel est. Ut impedit rerum aut cumque ea cum aut et. Amet et vel a
        excepturi. Dolorum mollitia natus delectus ea at ipsam.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":27.78,"quantity":3.0,"reportingDate":"2019-04-08","tax":2.22,"taxableAmount":27.78,"taxCalculated":2.22,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"201[...]
