---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":null,"referenceCode":"R152315924","companyCode":"test1","date":"2019-04-04","customerCode":"leonie.kutch@sipes.ca","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":2,"amount":"20.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":true,"description":"Perferendis
        cumque pariatur qui tempora. Quia deserunt libero et excepturi dolorem harum
        voluptatibus. Ullam non non doloremque molestiae.\nOmnis pariatur labore et
        possimus in voluptas consequatur nobis. Voluptatem tempora aut libero velit
        incidunt. Reprehenderit qui nulla cum quibusdam mollitia. Iusto qui illo praesentium
        reprehenderit ab. Ut quaerat aspernatur numquam corrupti maiores accusantium
        nihil omnis.","sku":"SKU-22"},{"number":"LI-50f0c7ba-0c5f-4479-a24a-3de192354004","quantity":3,"amount":"30.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":true,"description":"Velit
        ut nihil cumque aut fugit quo. Animi commodi aliquid ut neque nesciunt laudantium
        sint. Ipsam aperiam consequatur reprehenderit ut enim qui perferendis repudiandae.\nNobis
        voluptatem id porro assumenda et quia. Dolore quas quisquam cumque in. Consequatur
        aut numquam et modi eveniet.","sku":"SKU-23"}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0601042'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0582852'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"87f70547-8dc0-4621-8dba-8ceab1ff8f5a","companyId":0,"date":"2019-04-04","paymentDate":"2019-04-04","status":"Temporary","type":"SalesOrder","customerVendorCode":"leonie.kutch@sipes.ca","customerCode":"leonie.kutch@sipes.ca","reconciled":false,"referenceCode":"R152315924","totalAmount":46.3,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":3.7,"totalTaxable":46.3,"totalTaxCalculated":3.7,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-04","exchangeRate":1.0,"modifiedDate":"2019-04-04T10:53:48.4986758Z","modifiedUserId":390298,"taxDate":"2019-04-04T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Perferendis
        cumque pariatur qui tempora. Quia deserunt libero et excepturi dolorem harum
        voluptatibus. Ullam non non doloremque molestiae.\nOmnis pariatur labore et
        possimus in voluptas consequatur nobis. Voluptatem tempora aut libero velit
        incidunt. Reprehenderit qui nulla cum quibusdam mollitia. Iusto qui illo praesentium
        reprehenderit ab. Ut quaerat aspernatur numquam corrupti maiores accusantium
        nihil omnis.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":18.52,"quantity":2.0,"reportingDate":"2019-04-04","tax":1.48,"taxableAmount":18.52,"taxCalculated":1.48,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-04","taxIncluded":true,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":1.11,"taxableAmount":18.52,"taxType":"Sales","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":1.11,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.37,"taxableAmount":18.52,"taxType":"Sales","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.37,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0},{"id":0,"transactionId":0,"lineNumber":"LI-50f0c7ba-0c5f-4479-a24a-3de192354004","description":"Velit
        ut nihil cumque aut fugit quo. Animi commodi aliquid ut neque nesciunt laudantium
        sint. Ipsam aperiam consequatur reprehenderit ut enim qui perferendis repudiandae.\nNobis
        voluptatem id porro assumenda et quia. Dolore quas quisquam cumque in. Consequatur
        aut numquam et modi eveniet.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,[...]
