---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":null,"referenceCode":"R977907663","companyCode":"test1","date":"2019-04-04","customerCode":"flavia.moore@bradtke.ca","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":true,"description":"Molestiae
        iure blanditiis corporis dolore. Optio necessitatibus tempora minima sequi
        alias mollitia earum. Consectetur exercitationem minus non in distinctio consequuntur.
        Et ad magnam ab occaecati qui. Quo autem et sunt repellat.\nCorrupti quas
        molestiae et quae et. Et alias aut consequuntur rerum. Est aut aspernatur
        similique deserunt. Illum reiciendis id omnis voluptatem sed quis. Corrupti
        ut adipisci aut totam non.\nAperiam magnam aut id consequatur sit. Sapiente
        sunt et quia quis at. Dolorem aut voluptatem qui totam.\nFuga aut at voluptas
        quaerat corporis fugit vel rerum. Laborum voluptas quae deserunt animi velit.
        Quis ut aut excepturi ab similique modi.\nEa rerum neque est vel dolores ex.
        Consequatur consequuntur in nobis occaecati non sit. Minima et dignissimos
        sit blanditiis rerum velit harum.","sku":"SKU-29"}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0484479'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0466617'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"b0c864c0-85df-4849-a491-d805fad621cc","companyId":0,"date":"2019-04-04","paymentDate":"2019-04-04","status":"Temporary","type":"SalesOrder","customerVendorCode":"flavia.moore@bradtke.ca","customerCode":"flavia.moore@bradtke.ca","reconciled":false,"referenceCode":"R977907663","totalAmount":9.26,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":0.74,"totalTaxable":9.26,"totalTaxCalculated":0.74,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-04","exchangeRate":1.0,"modifiedDate":"2019-04-04T10:53:53.4269122Z","modifiedUserId":390298,"taxDate":"2019-04-04T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Molestiae
        iure blanditiis corporis dolore. Optio necessitatibus tempora minima sequi
        alias mollitia earum. Consectetur exercitationem minus non in distinctio consequuntur.
        Et ad magnam ab occaecati qui. Quo autem et sunt repellat.\nCorrupti quas
        molestiae et quae et. Et alias aut consequuntur rerum. Est aut aspernatur
        similique deserunt. Illum reiciendis id omnis voluptatem sed quis. Corrupti
        ut adipisci aut totam non.\nAperiam magnam aut id consequatur sit. Sapiente
        sunt et quia quis at. Dolorem aut voluptatem qui totam.\nFuga aut at voluptas
        quaerat corporis fugit vel rerum. Laborum voluptas quae deserunt animi velit.
        Quis ut aut excepturi ab similique modi.\nEa rerum neque est vel dolores ex.
        Consequatur consequuntur in nobis occaecati non sit. Minima et dignissimos
        sit blanditiis rerum velit harum.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":9.26,"quantity":1.0,"reportingDate":"2019-04-04","tax":0.74,"taxableAmount":9.26,"taxCalculated":0.74,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-04","taxIncluded":true,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":0.56,"taxableAmount":9.26,"taxType":"Sales","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":0.56,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.18,"taxableAmount":9.26,"taxType":"Sales","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.18,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0}],"addresses":[{"id":0,"transactionId":0,"boundaryLevel":"Address","line1":"822
        Reed St","line2":"","line3":"","city":"Philadelphia","region":"PA","postalCode":"19147","country":"US","taxRegionId":4014900,"latitude":"39.931649","longitude":"-75.159058"}],"summary":[{"country":"US","region":"PA","jurisType":"State","jurisCode":"42","jurisName":"PENNSYLVANIA","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Sales","taxName":"PA
        STATE TAX","rateType":"General","taxable":9.26,"rate":0.060000,"tax":0.56,"taxCalculated":0.56,"nonTaxable":0.0,"exemption":0.0},{"country":"US","region":"PA","jurisType":"County","jurisCode":"101","jurisName":"PHILADELPHIA","taxAuthorityType":45,"stateAssignedNo":"51","taxType":"Sales","taxName":"PA
        COUNTY TAX","rateType":"General","taxable":9.26,"rate":0.020000,"tax":0.18,"taxCalculated":0.18,"nonTaxable":0.0,"exemption":0.0}]}'
  recorded_at: Thu, 04 Apr 2019 10:54:01 GMT
recorded_with: VCR 4.0.0
