---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve?city=Philadelphia&country=US&line1=822%20Reed%20St&line2=&postalCode=too_long_zipcode&region=PA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;19.4.0;
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0004816'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"StringLengthError","message":"Field ''postalCode''
        has an invalid length.","target":"IncorrectData","details":[{"code":"StringLengthError","number":13,"message":"Field
        ''postalCode'' has an invalid length.","description":"Field ''postalCode''
        must be between 0 and 11 characters in length.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/StringLengthError","severity":"Error"}]}}'
  recorded_at: Tue, 21 May 2019 09:55:48 GMT
recorded_with: VCR 4.0.0
