---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":null,"referenceCode":"R150539653","companyCode":"test1","date":"2019-04-04","customerCode":"maryland_marks@hilpertkertzmann.info","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":4,"amount":"30.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Ab
        molestiae facere voluptate sit eos. Est voluptatem recusandae tempore odit.
        Aut enim necessitatibus molestias in dolor non rerum ut. Ut ut exercitationem
        consequatur ea voluptate laborum.\nAccusantium maiores inventore iusto quae
        corrupti eveniet non. Provident dolores sint qui id. Sit ut illum reiciendis
        aspernatur. Sapiente sed velit qui autem id eius molestias.\nAt ad aut non
        quia voluptates in et ipsa. Reprehenderit magni et aperiam voluptas. Nihil
        sapiente sint quo ut eveniet dolor cum. Perferendis autem eos alias facilis
        sed fugit. Officiis quibusdam aperiam assumenda veritatis sed.\nAperiam expedita
        repudiandae id sunt maxime est sequi non. Autem aut eius sint vitae rem necessitatibus
        laborum officia. Expedita minima est voluptate nemo. Totam cum ab fugiat et.\nRepudiandae
        delectus voluptatibus quo repellat aperiam. Eos quia est in architecto laborum.
        Nisi eos officiis rerum laboriosam et. Assumenda dolorem ipsum non deserunt
        architecto porro sed.","sku":"SKU-24"},{"number":"LI-bf57f52a-2ab3-44bc-8be3-8f99ecccd196","quantity":3,"amount":"20.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Maiores
        inventore magni cumque rerum. Officia aut dolor laboriosam ipsam praesentium
        incidunt. Rerum quae consequatur harum earum qui aspernatur sed ea. Omnis
        at illum perspiciatis ut. Maiores aspernatur deserunt odio vel molestiae est.\nNatus
        cum aut rem veniam. Amet ratione sunt dolorem officia non exercitationem perferendis
        modi. Delectus incidunt modi et reiciendis. Animi voluptate blanditiis adipisci
        est consequatur maiores harum eos. In non voluptate aspernatur asperiores
        et.\nIllum autem molestiae ut velit laborum dolorum. Alias quia rerum quae
        nobis consequatur quis repellendus occaecati. A dolorum iste sit sint cumque.
        Voluptas omnis aut nesciunt rerum non. Est aut quia repudiandae minima et.","sku":"SKU-25"}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0578146'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0557879'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"203c99d6-37dd-4e5f-828c-d83681fd413f","companyId":0,"date":"2019-04-04","paymentDate":"2019-04-04","status":"Temporary","type":"SalesOrder","customerVendorCode":"maryland_marks@hilpertkertzmann.info","customerCode":"maryland_marks@hilpertkertzmann.info","reconciled":false,"referenceCode":"R150539653","totalAmount":50.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":4.0,"totalTaxable":50.0,"totalTaxCalculated":4.0,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-04","exchangeRate":1.0,"modifiedDate":"2019-04-04T10:53:49.8966225Z","modifiedUserId":390298,"taxDate":"2019-04-04T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Ab
        molestiae facere voluptate sit eos. Est voluptatem recusandae tempore odit.
        Aut enim necessitatibus molestias in dolor non rerum ut. Ut ut exercitationem
        consequatur ea voluptate laborum.\nAccusantium maiores inventore iusto quae
        corrupti eveniet non. Provident dolores sint qui id. Sit ut illum reiciendis
        aspernatur. Sapiente sed velit qui autem id eius molestias.\nAt ad aut non
        quia voluptates in et ipsa. Reprehenderit magni et aperiam voluptas. Nihil
        sapiente sint quo ut eveniet dolor cum. Perferendis autem eos alias facilis
        sed fugit. Officiis quibusdam aperiam assumenda veritatis sed.\nAperiam expedita
        repudiandae id sunt maxime est sequi non. Autem aut eius sint vitae rem necessitatibus
        laborum officia. Expedita minima est voluptate nemo. Totam cum ab fugiat et.\nRepudiandae
        delectus voluptatibus quo repellat aperiam. Eos quia est in architecto laborum.
        Nisi eos officiis rerum laboriosam et. Assumenda dolorem ipsum non deserunt
        architecto porro sed.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":30.0,"quantity":4.0,"reportingDate":"2019-04-04","tax":2.4,"taxableAmount":30.0,"taxCalculated":2.4,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-04","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":1.8,"taxableAmount":30.0,"taxType":"Sales","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":1.8,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.6,"taxableAmount":30.0,"taxType":"Sales","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.6,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0},{"id":0,"transactionId":0,"lineNumber":"LI-bf57f52a-2ab3-44bc-8be3-8f99ecccd196","description":"Maiores
        inventore magni cumque rerum. Officia aut dolor laboriosam ipsam praesentium
        incidunt. Rerum quae consequatur harum earum qui aspernatur sed ea. Omnis
        at illum perspiciatis ut. Maiores aspernatur deserunt odio vel molestiae est.\nNatus
        cum aut rem veniam. Amet ratione sunt dolorem officia non exercitationem perferendis
        modi. Delectus incidunt modi et [...]
