---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R435118433","referenceCode":"R435118433","companyCode":"test1","date":"2019-04-08","customerCode":"charlie@gibson.ca","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":4,"amount":"30.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Dolorem
        eum ut dolorem ipsum similique est. Autem sit et ea sit soluta fugit aut.
        Tempore quae magnam ut laudantium sunt sunt.","sku":"SKU-39"},{"number":"LI-bf57f52a-2ab3-44bc-8be3-8f99ecccd196","quantity":3,"amount":"20.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Molestiae
        consectetur illo ea sunt id dolorum inventore. Sed eligendi earum vitae in
        ab velit rerum voluptas. Sunt odio ut sequi laborum non.\nDolore consequatur
        rerum aperiam voluptatem et aut enim molestiae. Aut quas magni eos accusantium
        hic quod. Sed earum quibusdam magnam exercitationem dolore. Ducimus sit ex
        est accusamus non aliquid.\nSit hic voluptatum soluta laudantium. Maiores
        veritatis nihil voluptatem alias voluptatem voluptates cum quisquam. Possimus
        aliquid modi distinctio quia voluptas.\nFacilis architecto et id et voluptatum
        sapiente qui. Minima non voluptates voluptatem numquam. Aut hic fugiat ut
        qui sequi nobis. Illum est qui sed eos dicta aut aliquid. Tempora et neque
        tenetur porro.","sku":"SKU-40"}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0534160'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0516859'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"R435118433","companyId":0,"date":"2019-04-08","paymentDate":"2019-04-08","status":"Temporary","type":"SalesOrder","customerVendorCode":"charlie@gibson.ca","customerCode":"charlie@gibson.ca","reconciled":false,"referenceCode":"R435118433","totalAmount":50.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":4.0,"totalTaxable":50.0,"totalTaxCalculated":4.0,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-08","exchangeRate":1.0,"modifiedDate":"2019-04-08T14:22:28.1029596Z","modifiedUserId":356147,"taxDate":"2019-04-08T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Dolorem
        eum ut dolorem ipsum similique est. Autem sit et ea sit soluta fugit aut.
        Tempore quae magnam ut laudantium sunt sunt.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":30.0,"quantity":4.0,"reportingDate":"2019-04-08","tax":2.4,"taxableAmount":30.0,"taxCalculated":2.4,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-08","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":1.8,"taxableAmount":30.0,"taxType":"Sales","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":1.8,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.6,"taxableAmount":30.0,"taxType":"Sales","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.6,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0},{"id":0,"transactionId":0,"lineNumber":"LI-bf57f52a-2ab3-44bc-8be3-8f99ecccd196","description":"Molestiae
        consectetur illo ea sunt id dolorum inventore. Sed eligendi earum vitae in
        ab velit rerum voluptas. Sunt odio ut sequi laborum non.\nDolore consequatur
        rerum aperiam voluptatem et aut enim molestiae. Aut quas magni eos accusantium
        hic quod. Sed earum quibusdam magnam exercitationem dolore. Ducimus sit ex
        est accusamus non aliquid.\nSit hic voluptatu[...]
