---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":null,"referenceCode":"R534038980","companyCode":"test1","date":"2019-04-04","customerCode":"rob@watsicabogan.com","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":2,"amount":"20.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Vitae
        enim necessitatibus sed consequatur aut iusto suscipit fugiat. Aperiam delectus
        aut commodi qui necessitatibus quis. Fuga omnis quos beatae autem ipsum excepturi
        qui. Porro ut qui quae quidem. Et voluptatum accusamus necessitatibus ut.\nNulla
        unde ad veniam explicabo sunt quae veritatis. Repellat magnam sint blanditiis
        dolorum ab. Deserunt rem consequatur quo minus. Praesentium iusto ducimus
        tempora ipsam. Quis incidunt molestiae minus vel enim ea veritatis.\nQuod
        eos repudiandae dolorum voluptas vel. Voluptas error blanditiis qui laborum
        dolor. Explicabo id dolor esse dignissimos.\nOmnis sit iure iste quaerat ex
        et. Aspernatur eaque reiciendis aut doloremque. Aliquam repellendus hic impedit
        accusantium incidunt eos consequatur. Blanditiis quae asperiores nisi neque
        aut quaerat dignissimos. Quos voluptas provident quam rerum.\nOmnis consequatur
        nihil ea ipsa officiis quos aspernatur eum. Rerum fugit vel sit quo dolorum
        deserunt maxime. Sint provident magnam aspernatur reiciendis et aut voluptates.
        Magni ex enim ut harum odio distinctio quia alias.","sku":"SKU-20"},{"number":"LI-50f0c7ba-0c5f-4479-a24a-3de192354004","quantity":3,"amount":"30.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Molestiae
        unde at et iure. Assumenda eius labore occaecati nemo. Ut natus velit porro
        quibusdam rerum rem est incidunt.\nVel in et provident amet ea ullam ut. Molestiae
        culpa eos omnis et in et. Non et perspiciatis dolorem quia quas. Animi odit
        laborum totam eaque. Rem est ut modi et.\nDeserunt quis est debitis nisi minima
        provident saepe. Facilis ipsum necessitatibus repellendus officiis itaque
        libero sit et. Provident voluptatem optio esse dignissimos. Similique consequatur
        est enim harum cumque voluptates officiis.\nEarum iste libero corrupti voluptatem
        nihil voluptas. Itaque totam quia quae magni nam velit. Dolor qui nihil voluptatibus
        totam inventore dolorem debitis.\nLabore nam aliquam optio et voluptas aliquid
        non. Id pariatur est omnis suscipit consequuntur corporis. Laudantium laborum
        similique recusandae reiciendis iusto. Sint aut cupiditate qui omnis quasi
        laborum quia.","sku":"SKU-21"}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0599723'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0577429'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"f9804897-b890-4cee-aced-faa6b27f81cc","companyId":0,"date":"2019-04-04","paymentDate":"2019-04-04","status":"Temporary","type":"SalesOrder","customerVendorCode":"rob@watsicabogan.com","customerCode":"rob@watsicabogan.com","reconciled":false,"referenceCode":"R534038980","totalAmount":50.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":4.0,"totalTaxable":50.0,"totalTaxCalculated":4.0,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-04","exchangeRate":1.0,"modifiedDate":"2019-04-04T10:53:47.0021999Z","modifiedUserId":390298,"taxDate":"2019-04-04T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Vitae
        enim necessitatibus sed consequatur aut iusto suscipit fugiat. Aperiam delectus
        aut commodi qui necessitatibus quis. Fuga omnis quos beatae autem ipsum excepturi
        qui. Porro ut qui quae quidem. Et voluptatum accusamus necessitatibus ut.\nNulla
        unde ad veniam explicabo sunt quae veritatis. Repellat magnam sint blanditiis
        dolorum ab. Deserunt rem consequatur quo minus. Praesentium iusto ducimus
        tempora ipsam. Quis incidunt molestiae minus vel enim ea veritatis.\nQuod
        eos repudiandae dolorum voluptas vel. Voluptas error blanditiis qui laborum
        dolor. Explicabo id dolor esse dignissimos.\nOmnis sit iure iste quaerat ex
        et. Aspernatur eaque reiciendis aut doloremque. Aliquam repellendus hic impedit
        accusantium incidunt eos consequatur. Blanditiis quae asperiores nisi neque
        aut quaerat dignissimos. Quos voluptas provident quam rerum.\nOmnis consequatur
        nihil ea ipsa officiis quos aspernatur eum. Rerum fugit vel sit quo dolorum
        deserunt maxime. Sint provident magnam aspernatur reiciendis et aut voluptates.
        Magni ex enim ut harum odio distinctio quia alias.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":20.0,"quantity":2.0,"reportingDate":"2019-04-04","tax":1.6,"taxableAmount":20.0,"taxCalculated":1.6,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-04","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":1.2,"taxableAmount":20.0,"taxType":"Sales","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":1.2,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.4,"taxableAmount":20.0,"taxType":"Sales","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.4,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0},{"id":0,"transactionId":0,"lineNumber":"LI-50f0c7ba-0c5f-4479-a24a-3de192354004","description":"Molestiae
        unde at et iure. Assumenda eius labore occaecati nemo. Ut natus velit porro
        quibusdam rerum rem est incidunt.\nVel in et provident amet ea ullam ut. Molestiae
        culpa eos omnis et in et. Non et perspiciatis dolorem quia quas. Animi odit
        laborum totam eaque. Rem est ut modi et.\nDeserunt quis est debitis nisi minima
        provident saepe. Facilis ipsum neces[...]
