---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R756403759","referenceCode":"R756403759","companyCode":"test1","date":"2019-04-08","customerCode":"nathanael.macejkovic@jakubowski.com","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":2,"amount":"20.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Omnis
        alias fuga aut eum. Dolor nesciunt delectus et omnis. Enim eum porro voluptas
        cum non. Excepturi accusamus rem dolorum ut. Quas vero adipisci vel placeat
        est voluptatem voluptate.\nHic esse similique ipsam corporis aperiam odio.
        Dolor et sed et quae. Suscipit cupiditate commodi similique temporibus et
        quia vel. Sit assumenda qui ipsa perspiciatis architecto deserunt.\nQuas officia
        et numquam labore voluptatem quidem quia. Neque omnis cum aut id velit. Dolorum
        ut nemo optio reprehenderit libero id. Dolorem doloremque beatae cum harum
        tenetur est.","sku":"SKU-41"},{"number":"LI-50f0c7ba-0c5f-4479-a24a-3de192354004","quantity":3,"amount":"30.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Tempora
        aperiam repellendus vitae blanditiis eligendi non. Laudantium dicta qui voluptatem
        eius minus qui quibusdam incidunt. Repellat aut et explicabo commodi nulla
        eum blanditiis totam. Libero quod ex quaerat vero nostrum quis adipisci.","sku":"SKU-42"}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0526978'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0510132'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"R756403759","companyId":0,"date":"2019-04-08","paymentDate":"2019-04-08","status":"Temporary","type":"SalesOrder","customerVendorCode":"nathanael.macejkovic@jakubowski.com","customerCode":"nathanael.macejkovic@jakubowski.com","reconciled":false,"referenceCode":"R756403759","totalAmount":50.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":4.0,"totalTaxable":50.0,"totalTaxCalculated":4.0,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-08","exchangeRate":1.0,"modifiedDate":"2019-04-08T14:22:29.410555Z","modifiedUserId":356147,"taxDate":"2019-04-08T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Omnis
        alias fuga aut eum. Dolor nesciunt delectus et omnis. Enim eum porro voluptas
        cum non. Excepturi accusamus rem dolorum ut. Quas vero adipisci vel placeat
        est voluptatem voluptate.\nHic esse similique ipsam corporis aperiam odio.
        Dolor et sed et quae. Suscipit cupiditate commodi similique temporibus et
        quia vel. Sit assumenda qui ipsa perspiciatis architecto deserunt.\nQuas officia
        et numquam labore voluptatem quidem quia. Neque omnis cum aut id velit. Dolorum
        ut nemo optio reprehenderit libero id. Dolorem doloremque beatae cum harum
        tenetur est.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":20.0,"quantity":2.0,"reportingDate":"2019-04-08","tax":1.6,"taxableAmount":20.0,"taxCalculated":1.6,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-08","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":1.2,"taxableAmount":20.0,"taxType":"Sales","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":1.2,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.4,"taxableAmount":20.0,"taxType":"Sales","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.4,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0},{"id":0,"transactionId":0,"lineNumber":"LI-50f0c7ba-0c5f-4479-a24a-3de192354004","description":"Tempora
        aperiam repellendus vitae blanditiis eligendi non. Laudantium dicta qui voluptatem
        eius minus qui quibusdam incidunt. Repellat aut et explicabo commodi nulla
        eum blanditiis totam. Libero quod ex quaerat vero nostrum quis adipisci.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":30.0,"quantity":3.0,"reportingDate":"2019-04-0[...]
