---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R556680393","referenceCode":"R556680393","companyCode":"test1","date":"2019-04-08","customerCode":"chante@harvey.biz","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Ea
        quisquam consequuntur ut itaque voluptatibus reiciendis quo. Consequatur sit
        dolorem dignissimos blanditiis autem voluptatem. Accusamus assumenda alias
        sequi sit omnis.\nLibero impedit nihil porro ab dolore rerum corporis eveniet.
        Et tempore debitis maiores repellendus cum. Quis et omnis aut repudiandae
        consequatur. Veritatis quod tempore quo iusto.\nIllum ex unde autem debitis
        occaecati adipisci. Sunt voluptatem error nam quo ut earum. Necessitatibus
        hic est eius enim.\nRecusandae quae quia praesentium odit iusto. Explicabo
        rerum inventore sunt praesentium eligendi non excepturi. Non architecto hic
        eum molestias quia. Quo aut et numquam necessitatibus. Dolores molestiae quaerat
        et molestiae non id facere consectetur.\nAut occaecati a quis voluptas id
        voluptatem. Harum consequatur sed aliquid adipisci quo delectus ipsa animi.
        Quibusdam sapiente eum itaque harum est blanditiis accusantium. Cupiditate
        culpa minus et sed corrupti veniam.","sku":"SKU-32"}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0473932'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0453870'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"R556680393","companyId":0,"date":"2019-04-08","paymentDate":"2019-04-08","status":"Temporary","type":"SalesOrder","customerVendorCode":"chante@harvey.biz","customerCode":"chante@harvey.biz","reconciled":false,"referenceCode":"R556680393","totalAmount":10.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":0.8,"totalTaxable":10.0,"totalTaxCalculated":0.8,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-08","exchangeRate":1.0,"modifiedDate":"2019-04-08T14:22:20.6614892Z","modifiedUserId":356147,"taxDate":"2019-04-08T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Ea
        quisquam consequuntur ut itaque voluptatibus reiciendis quo. Consequatur sit
        dolorem dignissimos blanditiis autem voluptatem. Accusamus assumenda alias
        sequi sit omnis.\nLibero impedit nihil porro ab dolore rerum corporis eveniet.
        Et tempore debitis maiores repellendus cum. Quis et omnis aut repudiandae
        consequatur. Veritatis quod tempore quo iusto.\nIllum ex unde autem debitis
        occaecati adipisci. Sunt voluptatem error nam quo ut earum. Necessitatibus
        hic est eius enim.\nRecusandae quae quia praesentium odit iusto. Explicabo
        rerum inventore sunt praesentium eligendi non excepturi. Non architecto hic
        eum molestias quia. Quo aut et numquam necessitatibus. Dolores molestiae quaerat
        et molestiae non id facere consectetur.\nAut occaecati a quis voluptas id
        voluptatem. Harum consequatur sed aliquid adipisci quo delectus ipsa animi.
        Quibusdam sapiente eum itaque harum est blanditiis accusantium. Cupiditate
        culpa minus et sed corrupti veniam.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":10.0,"quantity":1.0,"reportingDate":"2019-04-08","tax":0.8,"taxableAmount":10.0,"taxCalculated":0.8,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-08","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":0.6,"taxableAmount":10.0,"taxType":"Sales","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":0.6,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.2,"taxableAmount":10.0,"taxType":"Sales","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.2,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0}],"addresses":[{"id":0,"transactionId":0,"boundaryLevel":"Address","line1":"822
        Reed St","line2":"","line3":"","city":"Philadelphia","region":"PA","postalCode":"19147","country":"US","taxRegionId":4014900,"latitude":"39.931649","longitude":"-75.159058"}],"summary":[{"country":"US","region":"PA","jurisType":"State","jurisCode":"42","jurisName":"PENNSYLVANIA","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Sales","taxName":"PA
        STATE TAX","rateType":"General","taxable":10.0,"rate":0.060000,"tax":0.6,"taxCalculated":0.6,"nonTaxable":0.0,"exemption":0.0},{"country":"US","region":"PA","jurisType":"County","jurisCode":"101","jurisName":"PHILADELPHIA","taxAuthorityType":45,"stateAssignedNo":"51","taxType":"Sales","taxName":"PA
        COUNTY TAX","rateType":"General","taxable":10.0,"rate":0.020000,"tax":0.2,"taxCalculated":0.2,"nonTaxable":0.0,"exemption":0.0}]}'
  recorded_at: Mon, 08 Apr 2019 14:22:23 GMT
recorded_with: VCR 4.0.0
