---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesInvoice","code":"R251928228","referenceCode":"R251928228","companyCode":"test1","date":"2019-04-08","customerCode":"paulina_heaney@champlin.biz","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"PA","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"taxIncluded":false,"description":"Id
        minima maxime modi occaecati reprehenderit. Unde sit dolores dolore veniam.
        Natus est tempore qui voluptas velit eaque excepturi ex. Nemo voluptate at
        sequi voluptatibus quibusdam fugit animi sit. Adipisci ullam non magnam quaerat
        sit error.\nRecusandae eius tenetur accusamus possimus nihil. Unde corporis
        dolores totam quo est accusantium. Accusamus tempora qui illum earum odio
        dolorem sit numquam. Dicta labore aut quidem nobis dolor.\nItaque eos in et
        tempore delectus. Deleniti quis nostrum rem rerum. Corrupti perspiciatis tenetur
        est atque reiciendis ea accusantium dolorem. Aut quos commodi rerum perspiciatis
        quia dolor quis.\nAsperiores est voluptatum quisquam nesciunt itaque aut rerum
        nostrum. Ducimus quam neque aliquid animi. Dolore quis laborum autem maiores
        qui a ut.\nCumque repellat officiis ut eos praesentium vitae repellendus.
        Odit neque quis itaque sit aut ut. Natus accusantium et deleniti culpa quis
        consequuntur ut.","sku":"SKU-2"},{"number":"FR-6094cf98-eaa7-4b2f-b319-841d735ebcee","quantity":1,"amount":"100.0","taxCode":"FR","discounted":false,"addresses":{},"taxIncluded":false}],"commit":true,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848107/transactions/10831169194"
      Serverduration:
      - '00:00:00.1081978'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.1026723'
    body:
      encoding: UTF-8
      string: '{"id":10831169194,"code":"R251928228","companyId":848107,"date":"2019-04-08","status":"Committed","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"paulina_heaney@champlin.biz","customerCode":"paulina_heaney@champlin.biz","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"R251928228","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":110.0000,"totalExempt":0.0000,"totalDiscount":0.0000,"totalTax":8.8000,"totalTaxable":110.0000,"totalTaxCalculated":8.8000,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"PA","country":"US","version":1,"softwareVersion":"19.3.1.4","originAddressId":7420487504,"destinationAddressId":7420487504,"exchangeRateEffectiveDate":"2019-04-08","exchangeRate":1.0000,"isSellerImporterOfRecord":true,"description":"","email":"","businessIdentificationNo":"","modifiedDate":"2019-04-08T14:52:39.677","modifiedUserId":356147,"taxDate":"2019-04-08T00:00:00","lines":[{"id":12038655120,"transactionId":10831169194,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Id
        minima maxime modi occaecati reprehenderit. Unde sit dolores dolore veniam.
        Natus est tempore qui voluptas velit eaque excepturi ex. Nemo voluptate at
        sequi voluptatibus quibusdam fugit animi sit. Adipisci ullam non magnam quaerat
        sit error.Recusandae eius tenetur accusamus possimus nihil. Unde corporis
        dolores totam quo est accusantium. Accusamus tempora qui illum earum odio
        dolorem sit numquam. Dicta labore aut quidem nobis dolor.Itaque eos in et
        tempore delectus. Deleniti quis nostrum rem rerum. Corrupti perspiciatis tenetur
        est atque reiciendis ea accusantium dolorem. Aut quos commodi rerum perspiciatis
        quia dolor quis.Asperiores est voluptatum quisquam nesciunt itaque aut rerum
        nostrum. Ducimus quam neque aliquid animi. Dolore quis laborum autem maiores
        qui a ut.Cumque repellat officiis ut eos praesentium vitae repellendus. Odit
        neque quis itaque sit aut ut. Natus accusantium et deleniti culpa quis consequuntur
        ut.","destinationAddressId":7420487504,"originAddressId":9420487505,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":10.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-04-08","revAccount":"","sourcing":"Destination","tax":0.8000,"taxableAmount":10.0000,"taxCalculated":0.8000,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-08","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0000,"taxOverrideReason":"","taxIncluded":false,"details":[{"id":7652866814,"transactionLineId":12038655120,"transactionId":10831169194,"addressId":7420487504,"country":"US","region":"PA","countyFIPS":"","stateFIPS":"42","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"42","jurisName":"PENNSYLVANIA","jurisdictionId":49,"signatureCode":"BKTQ","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.060000,"rateRuleId":1457985,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":0.6000,"taxableAmount":10.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxRegionId":4014900,"taxCalculated":0.6000,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":10.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false},{"id":9652866813,"transactionLineId":12038655120,"transactionId":10831169194,"addressId":7420487504,"country":"US","region":"PA","countyFIPS":"","stateFIPS":"42","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"101","jurisName":"PHILADELPHIA","jurisdictionId":2311,"signatureCode":"BMWV","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.020000,"rateRuleId":1458005,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":0.2000,"taxableAmount":10.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxRegionId":4014900,"taxCalculated":0.2000,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":10.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":12730673488,"documentLineId":12038655120,"documentAddressId":7420487504,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":10513615347,"documentLineId":12038655120,"documentAddressId":9420487505,"locationTypeCode":"ShipFrom"}],"parameters":{},"hsCode":"","costInsuranceFreight":0.0000,"vatCode":"","vatNumberTypeId":0},{"id":5830318874,"transactionId":10831169194,"lineNumber":"FR-6094cf98-eaa7-4b2f-b319-841d735ebcee","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":7420487504,"originAddressId":7420487504,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":100.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-04-08","revAccount":"","[...]
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/R251928228/void
    body:
      encoding: UTF-8
      string: '{"code":"DocVoided"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848107/transactions/10831169194"
      Serverduration:
      - '00:00:00.0291462'
      Databasecalls:
      - '1'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0236790'
    body:
      encoding: UTF-8
      string: '{"id":10831169194,"code":"R251928228","companyId":848107,"date":"2019-04-08","paymentDate":"1900-01-01","status":"Cancelled","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"paulina_heaney@champlin.biz","customerCode":"paulina_heaney@champlin.biz","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"R251928228","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":110.0000,"totalExempt":0.0000,"t[...]
