---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesInvoice","code":null,"referenceCode":"R844400347","companyCode":"test1","date":"2019-04-03","customerCode":"deloris@hintz.us","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"PA","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"description":"Amet
        rem delectus ipsam cumque quos voluptatum sed ut. Et deserunt facere placeat
        nam magnam doloremque aut nemo. Rerum deleniti eveniet voluptas illum.\nQui
        explicabo aut ab delectus. Tenetur velit non voluptate beatae vero cumque.
        Vero dicta reprehenderit voluptatum voluptas. Saepe dolorum repellendus quam
        quia.\nRecusandae aut mollitia quos aliquid dolorem fugit placeat. Eius vitae
        non accusamus adipisci eligendi officiis perferendis ullam. Consequuntur eveniet
        adipisci facere ad unde blanditiis. Rem esse voluptas quisquam nostrum est
        quis iure autem. Reiciendis quis dolores impedit repellendus.\nSunt maiores
        enim dolorum deserunt necessitatibus. Nemo saepe temporibus vitae dolorem
        enim magni. Qui et deserunt qui expedita ea excepturi tempore.","sku":"SKU-26"},{"number":"FR-4890c854-94ac-4ffb-9c07-54ae550eaf94","quantity":1,"amount":"100.0","taxCode":"FR","discounted":false,"addresses":{}}],"commit":true,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848107/transactions/8826477797"
      Serverduration:
      - '00:00:00.1138078'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.1080374'
    body:
      encoding: UTF-8
      string: '{"id":8826477797,"code":"213d6005-da0d-4767-8983-b1c9d9dc2915","companyId":848107,"date":"2019-04-03","status":"Committed","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"deloris@hintz.us","customerCode":"deloris@hintz.us","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"R844400347","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":110.0000,"totalExempt":0.0000,"totalDiscount":0.0000,"totalTax":8.8000,"totalTaxable":110.0000,"totalTaxCalculated":8.8000,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"PA","country":"US","version":1,"softwareVersion":"19.3.1.4","originAddressId":11623868554,"destinationAddressId":11623868554,"exchangeRateEffectiveDate":"2019-04-03","exchangeRate":1.0000,"isSellerImporterOfRecord":true,"description":"","email":"","businessIdentificationNo":"","modifiedDate":"2019-04-03T15:32:33.193","modifiedUserId":390298,"taxDate":"2019-04-03T00:00:00","lines":[{"id":12036235428,"transactionId":8826477797,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Amet
        rem delectus ipsam cumque quos voluptatum sed ut. Et deserunt facere placeat
        nam magnam doloremque aut nemo. Rerum deleniti eveniet voluptas illum.Qui
        explicabo aut ab delectus. Tenetur velit non voluptate beatae vero cumque.
        Vero dicta reprehenderit voluptatum voluptas. Saepe dolorum repellendus quam
        quia.Recusandae aut mollitia quos aliquid dolorem fugit placeat. Eius vitae
        non accusamus adipisci eligendi officiis perferendis ullam. Consequuntur eveniet
        adipisci facere ad unde blanditiis. Rem esse voluptas quisquam nostrum est
        quis iure autem. Reiciendis quis dolores impedit repellendus.Sunt maiores
        enim dolorum deserunt necessitatibus. Nemo saepe temporibus vitae dolorem
        enim magni. Qui et deserunt qui expedita ea excepturi tempore.","destinationAddressId":11623868554,"originAddressId":5418374951,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":10.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-04-03","revAccount":"","sourcing":"Destination","tax":0.8000,"taxableAmount":10.0000,"taxCalculated":0.8000,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-03","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0000,"taxOverrideReason":"","taxIncluded":false,"details":[{"id":7649135647,"transactionLineId":12036235428,"transactionId":8826477797,"addressId":11623868554,"country":"US","region":"PA","countyFIPS":"","stateFIPS":"42","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"42","jurisName":"PENNSYLVANIA","jurisdictionId":49,"signatureCode":"BKTQ","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.060000,"rateRuleId":1457985,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":0.6000,"taxableAmount":10.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxRegionId":4014900,"taxCalculated":0.6000,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":10.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false},{"id":9649135646,"transactionLineId":12036235428,"transactionId":8826477797,"addressId":11623868554,"country":"US","region":"PA","countyFIPS":"","stateFIPS":"42","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"101","jurisName":"PHILADELPHIA","jurisdictionId":2311,"signatureCode":"BMWV","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.020000,"rateRuleId":1458005,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":0.2000,"taxableAmount":10.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxRegionId":4014900,"taxCalculated":0.2000,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":10.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":12725731809,"documentLineId":12036235428,"documentAddressId":11623868554,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":10508673668,"documentLineId":12036235428,"documentAddressId":5418374951,"locationTypeCode":"ShipFrom"}],"parameters":{},"hsCode":"","costInsuranceFreight":0.0000,"vatCode":"","vatNumberTypeId":0},{"id":5827899182,"transactionId":8826477797,"lineNumber":"FR-4890c854-94ac-4ffb-9c07-54ae550eaf94","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":11623868554,"originAddressId":11623868554,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":100.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-04-03","revAccount":"",[...]
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/213d6005-da0d-4767-8983-b1c9d9dc2915/void
    body:
      encoding: UTF-8
      string: '{"code":"DocVoided"}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848107/transactions/8826477797"
      Serverduration:
      - '00:00:00.0280469'
      Databasecalls:
      - '1'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0205681'
    body:
      encoding: UTF-8
      string: '{"id":8826477797,"code":"213d6005-da0d-4767-8983-b1c9d9dc2915","companyId":848107,"date":"2019-04-03","paymentDate":"1900-01-01","status":"Cancelled","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"deloris@hintz.us","customerCode":"deloris@hintz.us","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"R844400347","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":110.0000,"totalExempt":0.0000,"totalDiscount":0.0000,"[...]
