---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesInvoice","code":null,"referenceCode":"R451550332","companyCode":"test1","date":"2019-04-04","customerCode":"jerilyn.ondricka@schmidt.ca","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"description":"Maxime
        cupiditate corporis sequi et unde eos. Quo eum dolorem consequatur aliquam
        assumenda quis. Explicabo repudiandae necessitatibus consequatur ad. Autem
        et ipsa provident laboriosam omnis. Repellendus autem praesentium debitis
        consectetur.\nAutem iure numquam molestias dignissimos cum aut. A est et est
        enim consequuntur impedit doloremque consectetur. Ab sed nisi ea asperiores
        accusamus. Vel et voluptatem voluptas necessitatibus dicta ipsa sint eius.\nQui
        commodi omnis cupiditate magni ipsam. Dolorum atque ipsum consequatur autem
        natus eum esse culpa. Adipisci perferendis voluptatem mollitia rerum qui incidunt
        ut eum.\nCupiditate et cumque est mollitia reprehenderit. Ipsum vel similique
        impedit quaerat totam et ducimus corporis. Non tenetur totam tempore quia
        dignissimos necessitatibus.\nRem ea nam delectus molestias rerum. Sit sit
        ut maiores voluptas reprehenderit. Totam aut consequatur sed molestias aut
        voluptatem vel quibusdam.","sku":"2c0dbb5b43ad0e1dee8134f9aa0b2cd9"},{"number":"LI-d0d2295f-8ad1-405c-98e6-b9dea642b8f7","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"description":"Neque
        asperiores sed quisquam eveniet harum[...]
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/d048733a-0cc4-4aae-916b-deb0bb4928bb/void
    body:
      encoding: UTF-8
      string: '{"code":"DocVoided"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848107/transactions/10830068532"
      Serverduration:
      - '00:00:00.0338127'
      Databasecalls:
      - '1'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0274198'
    body:
      encoding: UTF-8
      string: '{"id":10830068532,"code":"d048733a-0cc4-4aae-916b-deb0bb4928bb","companyId":848107,"date":"2019-04-04","paymentDate":"1900-01-01","status":"Cancelled","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"jerilyn.ondricka@schmidt.ca","customerCode":"jerilyn.ondricka@schmidt.ca","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"R451550332","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":150.0000,"totalExempt":0.0000,"totalDiscount":0.0000,"totalTax":12.0000,"totalTaxable":150.0000,"totalTaxCalculated":12.0000,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"PA","country":"US","version":1,"softwareVersion":"19.3.1.4","originAddressId":9418801633,"destinationAddressId":9418801633,"exchangeRateEffectiveDate":"2019-04-04","exchangeRate":1.0000,"isSellerImporterOfRecord":true,"description":"","email":"","businessIdentificationNo":"","modifiedDate":"2019-04-04T09:24:00.413","modifiedUserId":356147,"taxDate":"2019-04-04T00:00:00","lines":[{"id":12036763300,"transactionId":10830068532,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Maxime
        cupiditate corporis sequi et unde eos. Quo eum dolorem consequatur aliquam
        assumenda quis. Explicabo repudiandae necessitatibus consequatur ad. Autem
        et ipsa provident laboriosam omnis. Repellendus autem praesentium debitis
        consectetur.Autem iure numquam molestias dignissimos cum aut. A est et est
        enim consequuntur impedit doloremque consectetur. Ab sed nisi ea asperiores
        accusamus. Vel et voluptatem voluptas necessitatibus dicta ipsa sint eius.Qui
        commodi omnis cupiditate magni ipsam. Dolorum atque ipsum consequatur autem
        natus eum esse culpa. Adipisci perferendis voluptatem mollitia rerum qui incidunt
        ut eum.Cupiditate et cumque est mollitia reprehenderit. Ipsum vel similique
        impedit quaerat totam et ducimus corporis. Non tenetur totam tempore quia
        dignissimos necessitatibus.Rem ea nam delectus molestias rerum. Sit sit ut
        maiores voluptas reprehenderit. Totam aut consequatur sed molestias aut voluptatem
        vel quibusdam.","destinationAddressId":9418801633,"originAddressId":11624295236,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":10.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-04-04","revAccount":"","sourcing":"Destination","tax":0.8000,"taxableAmount":10.0000,"taxCalculated":0.8000,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-04","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0000,"taxOverrideReason":"","taxIncluded":false,"details":[{"id":15649967451,"transactionLineId":12036763300,"transactionId":10830068532,"addressId":9418801633,"country":"US","region":"PA","countyFIPS":"","stateFIPS":"42","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"42","jurisName":"PENNSYLVANIA","jurisdictionId":49,"signatureCode":"BKTQ","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.060000,"rateRuleId":1457985,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":0.6000,"taxableAmount":10.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxRegionId":4014900,"taxCalculated":0.6000,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":10.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false},{"id":27659511877,"transactionLineId":12036763300,"transactionId":10830068532,"addressId":9418801633,"country":"US","region":"PA","countyFIPS":"","stateFIPS":"42","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"101","jurisName":"PHILADELPHIA","jurisdictionId":2311,"signatureCode":"BMWV","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.020000,"rateRuleId":1458005,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":0.2000,"taxableAmount":10.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxRegionId":4014900,"taxCalculated":0.2000,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":10.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":8509754468,"documentLineId":12036763300,"documentAddressId":9418801633,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":6509754468,"documentLineId":12036763300,"documentAddressId":11624295236,"locationTypeCode":"ShipFrom"}],"parameters":{},"hsCode":"","costInsuranceFreight":0.0000,"vatCode":"","vatNumberTypeId":0},{"id":5828427054,"transactionId":10830068532,"lineNumber":"LI-d0d2295f-8ad1-405c-98e6-b9dea642b8f7","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Neque
        asperiores sed quisquam eveniet harum ut. Eos fugit laborum earum corporis
        doloribus ad fugiat quaerat. Officia et eos illum autem nostrum aspernatur.
        Sed voluptatem eligendi est voluptates commodi eaque libero. Dolores provident
        molestiae odio atque reiciendis expedita inventor[...]
