---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R552750068","referenceCode":"R552750068","companyCode":"test1","date":"2019-04-08","customerCode":"lin@watsica.co.uk","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":3,"amount":"30.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Libero
        est voluptatem temporibus earum quia est. Amet voluptatem fugiat optio consectetur
        omnis eligendi rerum aut. Aperiam quod veritatis molestias quia enim reprehenderit
        saepe et.\nQuisquam ut quos voluptas sed. Eius debitis minus autem unde quis.
        Itaque praesentium perferendis saepe dolorem dolores dolor.\nVelit maxime
        quibusdam nihil veritatis rerum. Veniam consequatur ut voluptatem unde ducimus
        adipisci quo. Ut vero ea pariatur et qui laudantium ratione velit. Voluptas
        veniam a dignissimos rerum qui magnam non porro.\nId voluptates vero corporis
        et maiores dicta similique suscipit. Corporis explicabo aut sint rerum a accusantium
        non fuga. Eum optio deleniti dolorum excepturi dolores ratione architecto.","sku":"SKU-57"}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0467158'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0450733'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"R552750068","companyId":0,"date":"2019-04-08","paymentDate":"2019-04-08","status":"Temporary","type":"SalesOrder","customerVendorCode":"lin@watsica.co.uk","customerCode":"lin@watsica.co.uk","reconciled":false,"referenceCode":"R552750068","totalAmount":30.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":2.4,"totalTaxable":30.0,"totalTaxCalculated":2.4,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-08","exchangeRate":1.0,"modifiedDate":"2019-04-08T14:22:45.1587475Z","modifiedUserId":356147,"taxDate":"2019-04-08T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Libero
        est voluptatem temporibus earum quia est. Amet voluptatem fugiat optio consectetur
        omnis eligendi rerum aut. Aperiam quod veritatis molestias quia enim reprehenderit
        saepe et.\nQuisquam ut quos voluptas sed. Eius debitis minus autem unde quis.
        Itaque praesentium perferendis saepe dolorem dolores dolor.\nVelit maxime
        quibusdam nihil veritatis rerum. Veniam consequatur ut voluptatem unde ducimus
        adipisci quo. Ut vero ea pariatur et qui laudantium ratione velit. Voluptas
        veniam a dignissimos rerum qui magnam non porro.\nId voluptates vero corporis
        et maiores dicta similique suscipit. Corporis explicabo aut sint rerum a accusantium
        non fuga. Eum optio deleniti dolorum excepturi dolores ratione architecto.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":30.0,"quantity":3.0,"reportingDate":"2019-04-08","tax":2.4,"taxableAmount":30.0,"taxCalculated":2.4,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-08","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":1.8,"taxableAmount":30.0,"taxType":"Sales","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":1.8,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.6,"taxableAmount":30.0,"taxType":"Sales","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.6,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0}],"addresses":[{"id":0,"transactionId":0,"boundaryLevel":"Address","line1":"822
        Reed St","line2":"","line3":"","city":"Philadelphia","region":"PA","postalCode":"19147","country":"US","taxRegionId":4014900,"latitude":"39.931649","longitude":"-75.159058"}],"summary":[{"country":"US","region":"PA","jurisType":"State","jurisCode":"42","jurisName":"PENNSYLVANIA","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Sales","taxName":"PA
        STATE TAX","rateType":"General","taxable":30.0,"rate":0.060000,"tax":1.8,"taxCalculated":1.8,"nonTaxable":0.0,"exemption":0.0},{"country":"US","region":"PA","jurisType":"County","jurisCode":"101","jurisName":"PHILADELPHIA","taxAuthorityType":45,"stateAssignedNo":"51","taxType":"Sales","taxName":"PA
        COUNTY TAX","rateType":"General","taxable":30.0,"rate":0.020000,"tax":0.6,"taxCalculated":0.6,"nonTaxable":0.0,"exemption":0.0}]}'
  recorded_at: Mon, 08 Apr 2019 14:22:47 GMT
recorded_with: VCR 4.0.0
