---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":null,"referenceCode":"R381531185","companyCode":"test1","date":"2019-04-03","customerCode":"bradly.morissette@bernhard.us","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":3,"amount":"30.0","taxCode":"P0000000","discounted":false,"addresses":{},"description":"Veniam
        dolor eveniet ipsa ex ipsum beatae qui dolore. Sit sapiente odio qui facere
        temporibus et est reprehenderit. Consequuntur et quia eligendi voluptas. Molestiae
        quo neque laborum quis consequatur laudantium. Odit distinctio quia et totam
        quos a.\nArchitecto odit quibusdam explicabo voluptas. Ut quo dignissimos
        necessitatibus beatae impedit pariatur qui. Qui porro totam quae quidem ea
        labore.\nQui culpa neque tempore sed ullam quia corporis. Doloribus rerum
        minima et porro. Praesentium iure tempora nemo voluptas beatae vitae mollitia
        aut. Nemo voluptas vero repellendus molestias.\nPorro iusto itaque non voluptates
        at quo natus. Dolore atque debitis quam molestiae temporibus labore est reiciendis.
        Dolorum quaerat odio repellat incidunt sunt animi quas. Fuga consequatur voluptatum
        optio repudiandae omnis sit eius. Dolor et aperiam rerum blanditiis architecto
        quia.\nCorrupti numquam deleniti quisquam aspernatur et consequatur impedit
        natus. Nihil tempore omnis id ratione. Nihil tempora nobis id ducimus expedita.
        Aliquam quaerat quod dolor qui facilis earum voluptatum.","sku":"SKU-54"}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0856100'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0838914'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"20124eff-f1b0-4e57-adfd-a50830fc80c8","companyId":0,"date":"2019-04-03","paymentDate":"2019-04-03","status":"Temporary","type":"SalesOrder","customerVendorCode":"bradly.morissette@bernhard.us","customerCode":"bradly.morissette@bernhard.us","reconciled":false,"referenceCode":"R381531185","totalAmount":30.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":2.4,"totalTaxable":30.0,"totalTaxCalculated":2.4,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-03","exchangeRate":1.0,"modifiedDate":"2019-04-03T15:32:51.3676636Z","modifiedUserId":390298,"taxDate":"2019-04-03T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Veniam
        dolor eveniet ipsa ex ipsum beatae qui dolore. Sit sapiente odio qui facere
        temporibus et est reprehenderit. Consequuntur et quia eligendi voluptas. Molestiae
        quo neque laborum quis consequatur laudantium. Odit distinctio quia et totam
        quos a.\nArchitecto odit quibusdam explicabo voluptas. Ut quo dignissimos
        necessitatibus beatae impedit pariatur qui. Qui porro totam quae quidem ea
        labore.\nQui culpa neque tempore sed ullam quia corporis. Doloribus rerum
        minima et porro. Praesentium iure tempora nemo voluptas beatae vitae mollitia
        aut. Nemo voluptas vero repellendus molestias.\nPorro iusto itaque non voluptates
        at quo natus. Dolore atque debitis quam molestiae temporibus labore est reiciendis.
        Dolorum quaerat odio repellat incidunt sunt animi quas. Fuga consequatur voluptatum
        optio repudiandae omnis sit eius. Dolor et aperiam rerum blanditiis architecto
        quia.\nCorrupti numquam deleniti quisquam aspernatur et consequatur impedit
        natus. Nihil tempore omnis id ratione. Nihil tempora nobis id ducimus expedita.
        Aliquam quaerat quod dolor qui facilis earum voluptatum.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":30.0,"quantity":3.0,"reportingDate":"2019-04-03","tax":2.4,"taxableAmount":30.0,"taxCalculated":2.4,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-03","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":1.8,"taxableAmount":30.0,"taxType":"Sales","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":1.8,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.6,"taxableAmount":30.0,"taxType":"Sales","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.6,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0}],"addresses":[{"id":0,"transactionId":0,"boundaryLevel":"Address","line1":"822
        Reed St","line2":"","line3":"","city":"Philadelphia","region":"PA","postalCode":"19147","country":"US","taxRegionId":4014900,"latitude":"39.931649","longitude":"-75.159058"}],"summary":[{"country":"US","region":"PA","jurisType":"State","jurisCode":"42","jurisName":"PENNSYLVANIA","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Sales","taxName":"PA
        STATE TAX","rateType":"General","taxable":30.0,"rate":0.060000,"tax":1.8,"taxCalculated":1.8,"nonTaxable":0.0,"exemption":0.0},{"country":"US","region":"PA","jurisType":"County","jurisCode":"101","jurisName":"PHILADELPHIA","taxAuthorityType":45,"stateAssignedNo":"51","taxType":"Sales","taxName":"PA
        COUNTY TAX","rateType":"General","taxable":30.0,"rate":0.020000,"tax":0.6,"taxCalculated":0.6,"nonTaxable":0.0,"exemption":0.0}]}'
  recorded_at: Wed, 03 Apr 2019 15:32:57 GMT
recorded_with: VCR 4.0.0
