---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":null,"referenceCode":"R401079786","companyCode":"test1","date":"2019-04-04","customerCode":"jarred.schmidt@deckow.info","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"742
        Washington St","line2":"","city":"San Francisco","region":"CA","country":"US","postalCode":"94108"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{},"description":"Quidem
        quia enim minus et minima rerum et cupiditate. Aliquid possimus nemo fuga
        quos nisi numquam eos in. Expedita harum recusandae ab ex architecto inventore.
        Animi quidem minus cupiditate necessitatibus nihil.\nIure quia debitis ea
        nam ex ipsum. Tenetur maiores doloribus sunt quae natus. Facere iste quaerat
        optio provident quas sed. Eaque qui cupiditate quisquam recusandae consequuntur
        aut.","sku":"SKU-24"},{"number":"FR-6a9efefa-0c6c-4e63-ab43-f43f1d7b2e22","quantity":1,"amount":"5.0","taxCode":"FR","discounted":false,"addresses":{}}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0982642'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0964288'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"0fbbdc14-58a3-4e16-9a0f-c85fc9a0885a","companyId":0,"date":"2019-04-04","paymentDate":"2019-04-04","status":"Temporary","type":"SalesOrder","customerVendorCode":"jarred.schmidt@deckow.info","customerCode":"jarred.schmidt@deckow.info","reconciled":false,"referenceCode":"R401079786","totalAmount":15.0,"totalExempt":5.0,"totalDiscount":0.0,"totalTax":0.73,"totalTaxable":10.0,"totalTaxCalculated":0.73,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-04","exchangeRate":1.0,"modifiedDate":"2019-04-04T09:59:23.705048Z","modifiedUserId":356147,"taxDate":"2019-04-04T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Quidem
        quia enim minus et minima rerum et cupiditate. Aliquid possimus nemo fuga
        quos nisi numquam eos in. Expedita harum recusandae ab ex architecto inventore.
        Animi quidem minus cupiditate necessitatibus nihil.\nIure quia debitis ea
        nam ex ipsum. Tenetur maiores doloribus sunt quae natus. Facere iste quaerat
        optio provident quas sed. Eaque qui cupiditate quisquam recusandae consequuntur
        aut.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":10.0,"quantity":1.0,"reportingDate":"2019-04-04","tax":0.73,"taxableAmount":10.0,"taxCalculated":0.73,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-04","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"CA","exemptAmount":0.0,"jurisCode":"06","jurisName":"CALIFORNIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":0.6,"taxableAmount":10.0,"taxType":"Sales","taxName":"CA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":0.6,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"CA","exemptAmount":0.0,"jurisCode":"075","jurisName":"SAN
        FRANCISCO","stateAssignedNo":"","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.002500,"tax":0.03,"taxableAmount":10.0,"taxType":"Sales","taxName":"CA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.03,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"CA","exemptAmount":0.0,"jurisCode":"EMTV0","jurisName":"SAN
        FRANCISCO CO LOCAL TAX SL","stateAssignedNo":"38","jurisType":"STJ","jurisdictionType":"Special","nonTaxableAmount":0.0,"rate":0.010000,"tax":0.1,"taxableAmount":10.0,"taxType":"Sales","taxName":"CA
        SPECIAL TAX","taxAuthorityTypeId":45,"taxCalculated":0.1,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0},{"id":0,"transactionId":0,"lineNumber":"FR-6a9efefa-0c6c-4e63-ab43-f43f1d7b2e22","discountAmount":0.0,"exemptAmount":5.0,"exemptCertId":0,"isItemTaxable":false,"lineAmount":5.0,"quantity":1.0,"reportingDate":"2019-04-04","tax":0.0,"taxableAmount":0.0,"taxCalculated":0.0,"taxCode":"FR","taxCodeId":10890,"taxDate":"2019-04-04","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"CA","exemptAmount":0.0,"jurisCode":"06","jurisName":"CALIFORNIA","[...]
