---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R850308690","referenceCode":"R850308690","companyCode":"test1","date":"2019-04-08","customerCode":"emanuel@walker.ca","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"742
        Washington St","line2":"","city":"San Francisco","region":"CA","country":"US","postalCode":"94108"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Quaerat
        sint dolores quisquam quos et nisi quo non. Laudantium minima necessitatibus
        fuga earum a. Architecto quia quod odio necessitatibus rerum doloremque numquam.
        Aut ut quaerat laborum magni qui eos. Alias molestias dolor quis voluptate.","sku":"SKU-65"},{"number":"FR-6a9efefa-0c6c-4e63-ab43-f43f1d7b2e22","quantity":1,"amount":"5.0","taxCode":"FR","discounted":false,"addresses":{},"taxIncluded":false}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.1022611'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.1004487'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"R850308690","companyId":0,"date":"2019-04-08","paymentDate":"2019-04-08","status":"Temporary","type":"SalesOrder","customerVendorCode":"emanuel@walker.ca","customerCode":"emanuel@walker.ca","reconciled":false,"referenceCode":"R850308690","totalAmount":15.0,"totalExempt":5.0,"totalDiscount":0.0,"totalTax":0.73,"totalTaxable":10.0,"totalTaxCalculated":0.73,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-08","exchangeRate":1.0,"modifiedDate":"2019-04-08T14:22:55.0471283Z","modifiedUserId":356147,"taxDate":"2019-04-08T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Quaerat
        sint dolores quisquam quos et nisi quo non. Laudantium minima necessitatibus
        fuga earum a. Architecto quia quod odio necessitatibus rerum doloremque numquam.
        Aut ut quaerat laborum magni qui eos. Alias molestias dolor quis voluptate.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":10.0,"quantity":1.0,"reportingDate":"2019-04-08","tax":0.73,"taxableAmount":10.0,"taxCalculated":0.73,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-08","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"CA","exemptAmount":0.0,"jurisCode":"06","jurisName":"CALIFORNIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":0.6,"taxableAmount":10.0,"taxType":"Sales","taxName":"CA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":0.6,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"CA","exemptAmount":0.0,"jurisCode":"075","jurisName":"SAN
        FRANCISCO","stateAssignedNo":"","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.002500,"tax":0.03,"taxableAmount":10.0,"taxType":"Sales","taxName":"CA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.03,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"CA","exemptAmount":0.0,"jurisCode":"EMTV0","jurisName":"SAN
        FRANCISCO CO LOCAL TAX SL","stateAssignedNo":"38","jurisType":"STJ","jurisdictionType":"Special","nonTaxableAmount":0.0,"rate":0.010000,"tax":0.1,"taxableAmount":10.0,"taxType":"Sales","taxName":"CA
        SPECIAL TAX","taxAuthorityTypeId":45,"taxCalculated":0.1,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0},{"id":0,"transactionId":0,"lineNumber":"FR-6a9efefa-0c6c-4e63-ab43-f43f1d7b2e22","discountAmount":0.0,"exemptAmount":5.0,"exemptCertId":0,"isItemTaxable":false,"lineAmount":5.0,"quantity":1.0,"reportingDate":"2019-04-08","tax":0.0,"taxableAmount":0.0,"taxCalculated":0.0,"taxCode":"FR","taxCodeId":10890,"taxDate":"2019-04-08","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"CA","exemptAmount":0.0,"jurisCode":"06","jurisName":"CALIFORNIA","[...]
