---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R934835090","referenceCode":"R934835090","companyCode":"test1","date":"2019-04-08","customerCode":"brittny@gutkowski.info","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"5.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Repellendus
        voluptas et id vel blanditiis doloribus in. Dolor magnam et repudiandae dolorem
        ea. Dolores itaque magni nam suscipit molestiae aliquam non. Id illum minima
        amet adipisci delectus inventore assumenda. Libero cumque delectus veritatis
        laborum.\nVeniam quidem sapiente et et dolores quasi consectetur. Molestias
        voluptatem saepe magni reprehenderit eveniet ad sit. Aut sint nihil ut est.\nPossimus
        laudantium recusandae voluptate sapiente. Repellat est beatae sit excepturi
        recusandae aut enim. Atque error asperiores eveniet doloremque. Laboriosam
        et possimus adipisci laborum est est libero pariatur. Deserunt porro ex voluptatem
        dolor quia quos iste fugiat.\nOccaecati magni dolor voluptatum fuga error
        architecto vel omnis. Animi porro eos aliquid eveniet. Ratione vel earum deleniti
        natus dolorem.\nAtque harum quia facilis voluptatum ut nulla optio. Cumque
        repellat velit iure sint id ut qui. Facilis aut rem dolorem doloremque atque
        nostrum ut. Deserunt quia fugiat recusandae repellendus. Cupiditate quidem
        deserunt consectetur non atque doloribus.","sku":"SKU-64"},{"number":"FR-6a9efefa-0c6c-4e63-ab43-f43f1d7b2e22","quantity":1,"amount":"5.0","taxCode":"FR","discounted":false,"addresses":{},"taxIncluded":false}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0652876'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0636050'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"R934835090","companyId":0,"date":"2019-04-08","paymentDate":"2019-04-08","status":"Temporary","type":"SalesOrder","customerVendorCode":"brittny@gutkowski.info","customerCode":"brittny@gutkowski.info","reconciled":false,"referenceCode":"R934835090","totalAmount":10.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":0.8,"totalTaxable":10.0,"totalTaxCalculated":0.8,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-08","exchangeRate":1.0,"modifiedDate":"2019-04-08T14:22:53.1275609Z","modifiedUserId":356147,"taxDate":"2019-04-08T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Repellendus
        voluptas et id vel blanditiis doloribus in. Dolor magnam et repudiandae dolorem
        ea. Dolores itaque magni nam suscipit molestiae aliquam non. Id illum minima
        amet adipisci delectus inventore assumenda. Libero cumque delectus veritatis
        laborum.\nVeniam quidem sapiente et et dolores quasi consectetur. Molestias
        voluptatem saepe magni reprehenderit eveniet ad sit. Aut sint nihil ut est.\nPossimus
        laudantium recusandae voluptate sapiente. Repellat est beatae sit excepturi
        recusandae aut enim. Atque error asperiores eveniet doloremque. Laboriosam
        et possimus adipisci laborum est est libero pariatur. Deserunt porro ex voluptatem
        dolor quia quos iste fugiat.\nOccaecati magni dolor voluptatum fuga error
        architecto vel omnis. Animi porro eos aliquid eveniet. Ratione vel earum deleniti
        natus dolorem.\nAtque harum quia facilis voluptatum ut nulla optio. Cumque
        repellat velit iure sint id ut qui. Facilis aut rem dolorem doloremque atque
        nostrum ut. Deserunt quia fugiat recusandae repellendus. Cupiditate quidem
        deserunt consectetur non atque doloribus.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":5.0,"quantity":1.0,"reportingDate":"2019-04-08","tax":0.4,"taxableAmount":5.0,"taxCalculated":0.4,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-08","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":0.3,"taxableAmount":5.0,"taxType":"Sales","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":0.3,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.1,"taxableAmount":5.0,"taxType":"Sales","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.1,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0},{"id":0,"transactionId":0,"lineNumber":"FR-6a9efefa-0c6c-4e63-ab43-f43f1d7b2e22","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":5.0,"quantity":1.0,"reportingDate":"2019-04-08","tax":0.4,"taxableAmount":5.0,"taxCalculated":0.4,"taxCode":"FR","taxCodeId":10890,"taxDate":"2019-04-08","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":0.3,"taxableAmount":5.0,"taxType":"Sales","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":0.3,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.1,"taxableAmount":5.0,"taxType":"Sales","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.1,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0}],"addresses":[{"id":0,"transactionId":0,"boundaryLevel":"Address","line1":"822
        Reed St","line2":"","line3":"","city":"Philadelphia","region":"PA","postalCode":"19147","country":"US","taxRegionId":4014900,"latitude":"39.931649","longitude":"-75.159058"}],"summary":[{"country":"US","region":"PA","jurisType":"State","jurisCode":"42","jurisName":"PENNSYLVANIA","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Sales","taxName":"PA
        STATE TAX","rateType":"General","taxable":10.0,"rate":0.060000,"tax":0.6,"taxCalculated":0.6,"nonTaxable":0.0,"exemption":0.0},{"country":"US","region":"PA","jurisType":"County","jurisCode":"101","jurisName":"PHILADELPHIA","taxAuthorityType":45,"stateAssignedNo":"51","taxType":"Sales","taxName":"PA
        COUNTY TAX","rateType":"General","taxable":10.0,"rate":0.020000,"tax":0.2,"taxCalculated":0.2,"nonTaxable":0.0,"exemption":0.0}]}'
  recorded_at: Mon, 08 Apr 2019 14:22:55 GMT
recorded_with: VCR 4.0.0
