---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":null,"companyCode":"test1","date":"2019-02-19","customerCode":"lemuel@grantlemke.co.uk","addresses":{"ShipFrom":{"line1":"10
        Lovely Street","line2":"Northwest","city":"Herndon","region":"STATE_ABBR_6","country":"US","postalCode":"35005"},"ShipTo":{"line1":"10
        Lovely Street","line2":"Northwest","city":"Herndon","region":"STATE_ABBR_6","country":"US","postalCode":"35005"}},"lines":[{"number":"2-LI","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false}],"commit":true,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0344184'
      Databasecalls:
      - '2'
      Databaseduration:
      - '00:00:00.0018714'
      Serviceduration:
      - '00:00:00.0301200'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"GetTaxError","message":"Invalid or missing state/province
        code (STA).","target":"Unknown","details":[{"code":"GetTaxError","number":300,"message":"Invalid
        or missing state/province code (STA).","description":"STA is not a known state
        or province.","faultCode":"GetTaxError","helpLink":"http://developer.avalara.com/avatax/errors/GetTaxError","refersTo":"Addresses[0]","severity":"Error"}]}}'
  recorded_at: Tue, 19 Feb 2019 13:06:10 GMT
[...]
