---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/utilities/ping
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;19.9.0;
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0003493'
    body:
      encoding: UTF-8
      string: '{"version":"19.9.1","authenticated":false,"authenticationType":"None"}'
  recorded_at: Mon, 07 Oct 2019 11:20:48 GMT
recorded_with: VCR 5.0.0
