---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R169922295","referenceCode":"R169922295","companyCode":"test1","date":"2019-09-20","customerCode":"justin_jacobi@oconnerdenesik.biz","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[],"commit":false,"discount":"0.0","currencyCode":"USD","purchaseOrderNo":"R169922295"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;19.7.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0013361'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"MissingLine","message":"Transactions must have at
        least one line.","target":"HttpRequestHeaders","details":[{"code":"MissingLine","number":311,"message":"Transactions
        must have at least one line.","description":"The CreateTransactionModel object
        must have an element called ''lines'', with at least one valid line record.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/MissingLine","severity":"Error"}]}}'
  recorded_at: Fri, 20 Sep 2019 09:03:06 GMT
recorded_with: VCR 4.0.0
