---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":null,"referenceCode":"R978540081","companyCode":"test1","date":"2019-04-03","customerCode":"ricki@eichmann.name","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{},"description":"Reiciendis
        sint et enim similique ea ut cumque. Iure sapiente ut nostrum ea adipisci
        et. Omnis quisquam doloremque ut incidunt placeat a est. Similique placeat
        non ipsum non quis nam qui.\nReprehenderit et qui molestiae laboriosam qui
        ut tempora consequatur. Qui sapiente quis dicta ut laboriosam. Laudantium
        impedit et officiis reprehenderit.\nSed magnam ut porro qui officia et vitae.
        Deleniti odit id et minus in cupiditate. Quaerat eligendi ipsum excepturi
        consequatur sit omnis optio. Voluptatem odit autem aut rerum laudantium ut
        ea. Sint temporibus debitis consequatur voluptate.\nPerferendis quod nostrum
        non beatae similique culpa. Voluptas aut quod occaecati non aut excepturi
        quisquam repellendus. Eveniet quia iure a debitis dicta ut accusamus. Cum
        quod sapiente et debitis nam ut quia. Vel sit vero cum quia.","sku":"SKU-50"}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0456758'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0440997'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"549cea08-5470-456c-9112-4f9b0013d4b8","companyId":0,"date":"2019-04-03","paymentDate":"2019-04-03","status":"Temporary","type":"SalesOrder","customerVendorCode":"ricki@eichmann.name","customerCode":"ricki@eichmann.name","reconciled":false,"referenceCode":"R978540081","totalAmount":10.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":0.8,"totalTaxable":10.0,"totalTaxCalculated":0.8,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-03","exchangeRate":1.0,"modifiedDate":"2019-04-03T15:32:47.1387895Z","modifiedUserId":390298,"taxDate":"2019-04-03T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Reiciendis
        sint et enim similique ea ut cumque. Iure sapiente ut nostrum ea adipisci
        et. Omnis quisquam doloremque ut incidunt placeat a est. Similique placeat
        non ipsum non quis nam qui.\nReprehenderit et qui molestiae laboriosam qui
        ut tempora consequatur. Qui sapiente quis dicta ut laboriosam. Laudantium
        impedit et officiis reprehenderit.\nSed magnam ut porro qui officia et vitae.
        Deleniti odit id et minus in cupiditate. Quaerat eligendi ipsum excepturi
        consequatur sit omnis optio. Voluptatem odit autem aut rerum laudantium ut
        ea. Sint temporibus debitis consequatur voluptate.\nPerferendis quod nostrum
        non beatae similique culpa. Voluptas aut quod occaecati non aut excepturi
        quisquam repellendus. Eveniet quia iure a debitis dicta ut accusamus. Cum
        quod sapiente et debitis nam ut quia. Vel sit vero cum quia.","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":10.0,"quantity":1.0,"reportingDate":"2019-04-03","tax":0.8,"taxableAmount":10.0,"taxCalculated":0.8,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-03","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":0.6,"taxableAmount":10.0,"taxType":"Sales","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":0.6,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.2,"taxableAmount":10.0,"taxType":"Sales","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.2,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0}],"addresses":[{"id":0,"transactionId":0,"boundaryLevel":"Address","line1":"822
        Reed St","line2":"","line3":"","city":"Philadelphia","region":"PA","postalCode":"19147","country":"US","taxRegionId":4014900,"latitude":"39.931649","longitude":"-75.159058"}],"summary":[{"country":"US","region":"PA","jurisType":"State","jurisCode":"42","jurisName":"PENNSYLVANIA","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Sales","taxName":"PA
        STATE TAX","rateType":"General","taxable":10.0,"rate":0.060000,"tax":0.6,"taxCalculated":0.6,"nonTaxable":0.0,"exemption":0.0},{"country":"US","region":"PA","jurisType":"County","jurisCode":"101","jurisName":"PHILADELPHIA","taxAuthorityType":45,"stateAssignedNo":"51","taxType":"Sales","taxName":"PA
        COUNTY TAX","rateType":"General","taxable":10.0,"rate":0.020000,"tax":0.2,"taxCalculated":0.2,"nonTaxable":0.0,"exemption":0.0}]}'
  recorded_at: Wed, 03 Apr 2019 15:32:54 GMT
recorded_with: VCR 4.0.0
