---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/REFUNDTEST456/refund
    body:
      encoding: UTF-8
      string: '{"referenceCode":"REFUNDTEST456","refundDate":"2019-02-18","refundType":"Full"}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0048375'
      Databasecalls:
      - '1'
      Databaseduration:
      - '00:00:00.0000020'
      Serviceduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"InvalidDocumentStatusForRefund","message":"Document
        is not in a status to process refund","target":"AvaTaxApiServer","details":[{"code":"InvalidDocumentStatusForRefund","number":700,"message":"Document
        is not in a status to process refund","description":"The document status is
        Saved, we can only process refund on committed document.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/InvalidDocumentStatusForRefund","severity":"Error"}]}}'
  recorded_at: Mon, 18 Feb 2019 21:07:29 GMT
recorded_with: VCR 4.0.0
