---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesInvoice","code":"REFUND748","referenceCode":"REFUND748","companyCode":"test1","date":"2019-04-09","customerCode":"audria@schoen.biz","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"taxIncluded":false,"description":"Quam
        qui error porro deserunt. Soluta dignissimos sed natus blanditiis. Expedita
        vero in quisquam tempore consectetur nobis dolorem. Fugit est eos et voluptatem
        et perferendis enim.\nAtque dolorem ducimus sapiente et est dignissimos iure.
        At cum assumenda perspiciatis corrupti debitis. Nam dolorum nemo qui enim
        sit doloremque aperiam aspernatur. Tempora perferendis consectetur pariatur
        aut vero eos autem sint.\nA tempora unde hic facere qui voluptate minus dolorem.
        Minima id praesentium sit sed ipsa. Repellendus totam rerum consequatur voluptate.
        A in magni quod impedit. Eum enim ut officia ea hic ipsum temporibus enim.\nUt
        et quia aut minima. Debitis amet id dolorem qui nam. Sapiente fuga itaque
        dolorem non distinctio qui.","sku":"eabb402c2170d2d77cf49896745b359c"},{"number":"LI-d890e139-0c9c-4b1d-a36b-03607b19f371","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"taxIncluded":false,"description":"Doloribus
        amet assumend[...]
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/REFUND748/refund
    body:
      encoding: UTF-8
      string: '{"refundTransactionCode":"REFUND748-1","referenceCode":"REFUND748","refundDate":"2019-04-09","refundType":"Full"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848107/transactions/6828041339"
      Serverduration:
      - '00:00:00.2298668'
      Databasecalls:
      - '1'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.2062158'
    body:
      encoding: UTF-8
      string: '{"id":6828041339,"code":"REFUND748-1","companyId":848107,"date":"2019-04-09","status":"Committed","type":"ReturnInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"audria@schoen.biz","customerCode":"audria@schoen.biz","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"REFUND748","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":-150.0000,"totalExempt":0.0000,"totalDiscount":0.0000,"totalTax":-12.0000,"totalTaxable":-150.0000,"totalTaxCalculated":-4.0000,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"PA","country":"US","version":1,"softwareVersion":"19.3.1.5","originAddressId":7420972278,"destinationAddressId":7420972278,"exchangeRateEffectiveDate":"2019-04-09","exchangeRate":1.0000,"isSellerImporterOfRecord":true,"description":"","email":"","businessIdentificationNo":"","modifiedDate":"2019-04-09T10:50:11.813","modifiedUserId":356147,"taxDate":"2019-04-09T00:00:00","lines":[{"id":7831196572,"transactionId":6828041339,"lineNumber":"LI-d890e139-0c9c-4b1d-a36b-03607b19f371","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Doloribus
        amet assumenda non perspiciatis reiciendis corrupti enim. Rem sunt quasi iure
        sed alias laudantium. Sint necessitatibus molestiae voluptatem quo voluptates
        ea aut. Fuga nostrum dolor tempore voluptate temporibus molestias.Fugiat suscipit
        praesentium et dignissimos repellat quos repellendus veniam. Animi labore
        aperiam vel doloribus maiores aspernatur. Possimus dicta cum autem id. Et
        eos blanditiis unde quibusdam aperiam.","destinationAddressId":7420972278,"originAddressId":9420972279,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":-10.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-04-09","revAccount":"","sourcing":"Destination","tax":-0.8000,"taxableAmount":-10.0000,"taxCalculated":-0.8000,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-09","taxEngine":"","taxOverrideType":"TaxAmount","businessIdentificationNo":"","taxOverrideAmount":-0.8000,"taxOverrideReason":"Refund
        request on 2019-04-09","taxIncluded":false,"details":[{"id":7654074783,"transactionLineId":7831196572,"transactionId":6828041339,"addressId":7420972278,"country":"US","region":"PA","countyFIPS":"","stateFIPS":"42","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"42","jurisName":"PENNSYLVANIA","jurisdictionId":49,"signatureCode":"BKTQ","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.060000,"rateRuleId":1457985,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":-0.6000,"taxableAmount":-10.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxRegionId":4014900,"taxCalculated":-0.6000,"taxOverride":-0.6000,"rateType":"General","rateTypeCode":"G","taxableUnits":-10.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false},{"id":9654074782,"transactionLineId":7831196572,"transactionId":6828041339,"addressId":7420972278,"country":"US","region":"PA","countyFIPS":"","stateFIPS":"42","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"101","jurisName":"PHILADELPHIA","jurisdictionId":2311,"signatureCode":"BMWV","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.020000,"rateRuleId":1458005,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":-0.2000,"taxableAmount":-10.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxRegionId":4014900,"taxCalculated":-0.2000,"taxOverride":-0.2000,"rateType":"General","rateTypeCode":"G","taxableUnits":-10.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":12732477118,"documentLineId":7831196572,"documentAddressId":7420972278,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":10515418977,"documentLineId":7831196572,"documentAddressId":9420972279,"locationTypeCode":"ShipFrom"}],"parameters":{},"hsCode":"","costInsuranceFreight":0.0000,"vatCode":"","vatNumberTypeId":0},{"id":9831196572,"transactionId":6828041339,"lineNumber":"FR-4c8106ba-1ec9-447f-9907-a9caa3b6a03a","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":7420972278,"originAddressId":7420972278,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":-100.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-04-09","revAccount":"","[...]
