---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/TESTFULLREFUND/refund
    body:
      encoding: UTF-8
      string: '{"referenceCode":"R622864174","refundDate":"2019-03-01","refundType":"Full"}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848107/transactions/6817765366"
      Serverduration:
      - '00:00:00.2179350'
      Databasecalls:
      - '1'
      Databaseduration:
      - '00:00:00.0000028'
      Serviceduration:
      - '00:00:00.1389145'
    body:
      encoding: UTF-8
      string: '{"id":6817765366,"code":"193f8055-637d-4ca1-b6bc-86b910cfccd2","companyId":848107,"date":"2019-03-01","status":"Committed","type":"ReturnInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"katyperry@fullscript.com","customerCode":"katyperry@fullscript.com","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"R622864174","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":-97.9400,"totalExempt":0.0000,"totalDiscount":0.0000,"totalTax":-6.3800,"totalTaxable":-97.9400,"totalTaxCalculated":-6.0500,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"FL","country":"US","version":1,"softwareVersion":"19.2.0.39","originAddressId":11608512790,"destinationAddressId":5403019187,"exchangeRateEffectiveDate":"2019-01-05","exchangeRate":1.0000,"isSellerImporterOfRecord":true,"description":"","email":"","businessIdentificationNo":"","modifiedDate":"2019-03-01T15:33:06.583","modifiedUserId":356142,"taxDate":"2019-03-01T00:00:00","lines":[{"id":9807935209,"transactionId":6817765366,"lineNumber":"SKU-1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":7403019186,"originAddressId":9403019187,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":-29.9900,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-03-01","revAccount":"","sourcing":"Destination","tax":-1.9500,"taxableAmount":-29.9900,"taxCalculated":-1.9500,"taxCode":"PH050117","taxCodeId":8300,"taxDate":"2019-01-05","taxEngine":"","taxOverrideType":"TaxAmount","businessIdentificationNo":"","taxOverrideAmount":-1.9500,"taxOverrideReason":"Refund
        request on 2019-03-01","taxIncluded":false,"details":[{"id":15617367782,"transactionLineId":9807935209,"transactionId":6817765366,"addressId":7403019186,"country":"US","region":"FL","countyFIPS":"","stateFIPS":"12","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"12","jurisName":"FLORIDA","jurisdictionId":16,"signatureCode":"AKUY","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.060000,"rateRuleId":3325253,"rateSourceId":4,"serCode":"","sourcing":"Destination","tax":-1.8000,"taxableAmount":-29.9900,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"FL
        STATE TAX","taxAuthorityTypeId":45,"taxRegionId":4013231,"taxCalculated":-1.8000,"taxOverride":-1.8000,"rateType":"General","rateTypeCode":"G","taxableUnits":-29.9900,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false},{"id":27626912208,"transactionLineId":9807935209,"transactionId":6817765366,"addressId":7403019186,"country":"US","region":"FL","countyFIPS":"","stateFIPS":"12","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"095","jurisName":"ORANGE","jurisdictionId":418,"signatureCode":"ALYO","stateAssignedNo":"","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.005000,"rateRuleId":3326964,"rateSourceId":4,"serCode":"","sourcing":"Destination","tax":-0.1500,"taxableAmount":-29.9900,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"FL
        COUNTY TAX","taxAuthorityTypeId":45,"taxRegionId":4013231,"taxCalculated":-0.1500,"taxOverride":-0.1500,"rateType":"General","rateTypeCode":"G","taxableUnits":-29.9900,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":12684777265,"documentLineId":9807935209,"documentAddressId":7403019186,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":10467719124,"documentLineId":9807935209,"documentAddressId":9403019187,"locationTypeCode":"ShipFrom"}],"parameters":{},"hsCode":"","costInsuranceFreight":0.0000,"vatCode":"","vatNumberTypeId":0},{"id":12016271455,"transactionId":6817765366,"lineNumber":"3466334-LI","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":7403019186,"originAddressId":9403019187,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":-63.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-03-01","revAccount":"","sourcing":"Destination","tax"[...]
