---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/TESTFULLREFUND/refund
    body:
      encoding: UTF-8
      string: '{"referenceCode":"R410907710","refundDate":"2019-04-04","refundType":"Full"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;18.12.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848107/transactions/8826721539"
      Serverduration:
      - '00:00:00.2292027'
      Databasecalls:
      - '1'
      Databaseduration:
      - '00:00:00.0010000'
      Serviceduration:
      - '00:00:00.1430526'
    body:
      encoding: UTF-8
      string: '{"id":8826721539,"code":"70dec10b-4954-4e5b-9035-7362ccce1192","companyId":848107,"date":"2019-04-04","status":"Committed","type":"ReturnInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"katyperry@fullscript.com","customerCode":"katyperry@fullscript.com","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"R410907710","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":-97.9400,"totalExempt":0.0000,"totalDiscount":0.0000,"totalTax":-6.3800,"totalTaxable":-97.9400,"totalTaxCalculated":-6.0500,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"FL","country":"US","version":1,"softwareVersion":"19.3.1.4","originAddressId":5418801759,"destinationAddressId":7418801759,"exchangeRateEffectiveDate":"2019-01-05","exchangeRate":1.0000,"isSellerImporterOfRecord":true,"description":"","email":"","businessIdentificationNo":"","modifiedDate":"2019-04-04T09:24:41.13","modifiedUserId":356147,"taxDate":"2019-04-04T00:00:00","lines":[{"id":7828427216,"transactionId":8826721539,"lineNumber":"SKU-1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":9418801759,"originAddressId":11624295362,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":-29.9900,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-04-04","revAccount":"","sourcing":"Destination","tax":-1.9500,"taxableAmount":-29.9900,"taxCalculated":-1.9500,"taxCode":"PH050117","taxCodeId":8300,"taxDate":"2019-01-05","taxEngine":"","taxOverrideType":"TaxAmount","businessIdentificationNo":"","taxOverrideAmount":-1.9500,"taxOverrideReason":"Refund
        request on 2019-04-04","taxIncluded":false,"details":[{"id":7649967697,"transactionLineId":7828427216,"transactionId":8826721539,"addressId":9418801759,"country":"US","region":"FL","countyFIPS":"","stateFIPS":"12","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"12","jurisName":"FLORIDA","jurisdictionId":16,"signatureCode":"AKUY","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.060000,"rateRuleId":3325253,"rateSourceId":4,"serCode":"","sourcing":"Destination","tax":-1.8000,"taxableAmount":-29.9900,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"FL
        STATE TAX","taxAuthorityTypeId":45,"taxRegionId":4013231,"taxCalculated":-1.8000,"taxOverride":-1.8000,"rateType":"General","rateTypeCode":"G","taxableUnits":-29.9900,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false},{"id":9649967696,"transactionLineId":7828427216,"transactionId":8826721539,"addressId":9418801759,"country":"US","region":"FL","countyFIPS":"","stateFIPS":"12","exemptAmount":0.0000,"exemptReasonId":4,"inState":false,"jurisCode":"095","jurisName":"ORANGE","jurisdictionId":418,"signatureCode":"ALYO","stateAssignedNo":"","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.005000,"rateRuleId":3326964,"rateSourceId":4,"serCode":"","sourcing":"Destination","tax":-0.1500,"taxableAmount":-29.9900,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"FL
        COUNTY TAX","taxAuthorityTypeId":45,"taxRegionId":4013231,"taxCalculated":-0.1500,"taxOverride":-0.1500,"rateType":"General","rateTypeCode":"G","taxableUnits":-29.9900,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":12726812935,"documentLineId":7828427216,"documentAddressId":9418801759,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":10509754794,"documentLineId":7828427216,"documentAddressId":11624295362,"locationTypeCode":"ShipFrom"}],"parameters":{},"hsCode":"","costInsuranceFreight":0.0000,"vatCode":"","vatNumberTypeId":0},{"id":9828427216,"transactionId":8826721539,"lineNumber":"3466334-LI","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":9418801759,"originAddressId":11624295362,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":-63.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-04-04","revAccount":"","sourcing":"Destination","tax"[...]
