---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/REFUNDTEST123/refund
    body:
      encoding: UTF-8
      string: '{"refundTransactionCode":"REFUNDTEST123","refundDate":"2019-01-28","refundType":"Full"}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;18.12.0;"
      Authorization:
      - Basic bWFyaWEuc3ljemV3c2thKzFAc3Bhcmtzb2x1dGlvbnMuY286TWFyMTZpYW4=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848107/transactions/10812776969"
      Serverduration:
      - '00:00:00.0802992'
      Databasecalls:
      - '1'
      Databaseduration:
      - '00:00:00.0000020'
      Serviceduration:
      - '00:00:00.0719925'
    body:
      encoding: UTF-8
      string: '{"id":10812776969,"code":"REFUNDTEST123","companyId":848107,"date":"2019-01-28","status":"Committed","type":"ReturnInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"ABC","customerCode":"ABC","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"Refund
        for transaction REFUNDTEST123","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":-100.0000,"totalExempt":-100.0000,"totalDiscount":0.0000,"totalTax":0.0000,"totalTaxable":0.0000,"totalTaxCalculated":0.0000,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"CA","country":"US","version":1,"softwareVersion":"19.1.0.16","originAddressId":11593465400,"destinationAddressId":5387971797,"exchangeRateEffectiveDate":"2017-06-05","exchangeRate":1.0000,"isSellerImporterOfRecord":false,"description":"","email":"","businessIdentificationNo":"","modifiedDate":"2019-01-28T11:30:15.617","modifiedUserId":356147,"taxDate":"2019-01-28T00:00:00","lines":[{"id":7788940085,"transactionId":10812776969,"lineNumber":"1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":7387971796,"originAddressId":9387971797,"discountAmount":0.0000,"discountTypeId":0,"exemptAmount":-100.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":-100.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2019-01-28","revAccount":"","sourcing":"Origin","tax":0.0000,"taxableAmount":0.0000,"taxCalculated":0.0000,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2017-06-05","taxEngine":"","taxOverrideType":"TaxAmount","businessIdentificationNo":"","taxOverrideAmount":0.0000,"taxOverrideReason":"Refund
        request on 2019-01-28","taxIncluded":false,"details":[{"id":11591036188,"transactionLineId":7788940085,"transactionId":10812776969,"addressId":9387971797,"country":"US","region":"CA","countyFIPS":"","stateFIPS":"06","exemptAmount":0.0000,"exemptReasonId":6,"inState":true,"jurisCode":"06","jurisName":"CALIFORNIA","jurisdictionId":5000531,"signatureCode":"AGAM","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":-100.0000,"nonTaxableRuleId":0,"nonTaxableType":"NexusRule","rate":0.000000,"rateRuleId":0,"rateSourceId":0,"serCode":"","sourcing":"Origin","tax":0.0000,"taxableAmount":0.0000,"taxType":"Sales","taxSubTypeId":"S","taxTypeGroupId":"SalesAndUse","taxName":"CA
        STATE TAX","taxAuthorityTypeId":45,"taxRegionId":2127863,"taxCalculated":0.0000,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":0.0000,"nonTaxableUnits":-100.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":12645511113,"documentLineId":7788940085,"documentAddressId":9387971797,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":6428452973,"documentLineId":7788940085,"documentAddressId":7387971796,"locationTypeCode":"ShipTo"}],"parameters":{},"hsCode":"","costInsuranceFreight":0.0000,"vatCode":"","vatNumberTypeId":0}],"addresses":[{"id":5387971797,"transactionId":10812776969,"boundaryLevel":"Zip5","line1":"100
        Market St","line2":"","line3":"","city":"San Francisco","region":"CA","postalCode":"94111","country":"US","taxRegionId":0},{"id":7387971796,"transactionId":10812776969,"boundaryLevel":"Address","line1":"100
        Market St","line2":"","line3":"","city":"San Francisco","region":"CA","postalCode":"94111","country":"US","taxRegionId":2128434,"latitude":"37.793815","longitude":"-122.395832"},{"id":9387971797,"transactionId":10812776969,"boundaryLevel":"Zip5","line1":"123
        Main Street","line2":"","line3":"","city":"Irvine","region":"CA","postalCode":"92615","country":"US","taxRegionId":2127863,"latitude":"33.657808","longitude":"-117.968489"},{"id":11593465400,"transactionId":10812776969,"boundaryLevel":"Zip5","line1":"123
        Main Street","line2":"","line3":"","city":"Irvine","region":"CA","postalCode":"92615","country":"US","taxRegionId":0}],"locationTypes":[{"documentLocationTypeId":10847153244,"documentId":10812776969,"documentAddressId":5387971797,"locationTypeCode":"ShipTo"},{"documentLocationTypeId":8643372438,"documentId":10812776969,"documentAddressId":11593465400,"locationTypeCode":"ShipFrom"}],"summary":[{"country":"US","region":"CA","jurisType":"State","jurisCode":"06","jurisName":"CALIFORNIA","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Sales","taxName":"CA
        STATE TAX","rateType":"General","taxable":0.00,"rate":0.000000,"tax":0.00,"taxCalculated":0.00,"nonTaxable":-100.00,"exemption":0.00}],"parameters":{}}'
  recorded_at: Mon, 28 Jan 2019 11:30:15 GMT
recorded_with: VCR 4.0.0
