---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/not-existing-number
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;19.7.0;
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0094595'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"EntityNotFoundError","message":"Transaction not found.","target":"HttpRequest","details":[{"code":"EntityNotFoundError","number":4,"message":"Transaction
        not found.","description":"The Transaction with code ''test1:not-existing-number''
        was not found.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/EntityNotFoundError","severity":"Error"}]}}'
  recorded_at: Fri, 20 Sep 2019 09:03:57 GMT
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/NOT-EXISTING-NUMBER
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;24.4.2;
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 62404d35-57bf-4a26-9f10-339d39d221e5
      X-Avalara-Uid:
      - 62404d35-57bf-4a26-9f10-339d39d221e5
    body:
      encoding: UTF-8
      string: '{"error": {"code": "AuthenticationException","message": "Authentication
        failed.","details": [{"code": "AuthenticationException","message": "Authentication
        failed.","description": "Missing authentication or unable to authenticate
        the user or the account.","faultCode": "Client","helpLink": "http://developer.avalara.com/avatax/errors/AuthenticationException"}]}}'
  recorded_at: Wed, 24 Apr 2024 18:01:04 GMT
recorded_with: VCR 6.2.0
