---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R864478595","referenceCode":"R864478595","companyCode":"test1","date":"2019-04-23","customerCode":"charline.predovic@spencer.com","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"10
        Lovely Street","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"35005"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Product
        #1 - 6306","itemCode":"c05cc3a5bacdf0fb7995f885a427ec8d"}],"commit":false,"discount":"0.0"}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;19.3.0;
      Authorization:
      - "<AVATAX_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848107/transactions/0"
      Serverduration:
      - '00:00:00.0999882'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0979333'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"R864478595","companyId":848107,"date":"2019-04-23","paymentDate":"2019-04-23","status":"Temporary","type":"SalesOrder","customerVendorCode":"charline.predovic@spencer.com","customerCode":"charline.predovic@spencer.com","reconciled":false,"referenceCode":"R864478595","totalAmount":10.0,"totalExempt":10.0,"totalDiscount":0.0,"totalTax":0.0,"totalTaxable":0.0,"totalTaxCalculated":0.0,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-04-23","exchangeRate":1.0,"modifiedDate":"2019-04-23T11:03:44.6938718Z","modifiedUserId":356147,"taxDate":"2019-04-23T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","description":"Product
        #1 - 6306","discountAmount":0.0,"exemptAmount":10.0,"exemptCertId":0,"isItemTaxable":false,"itemCode":"c05cc3a5bacdf0fb7995f885a427ec8d","lineAmount":10.0,"quantity":1.0,"reportingDate":"2019-04-23","tax":0.0,"taxableAmount":0.0,"taxCalculated":0.0,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-04-23","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"AL","exemptAmount":0.0,"jurisCode":"01","jurisName":"ALABAMA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":10.0,"rate":0.0,"tax":0.0,"taxableAmount":0.0,"taxType":"Use","taxName":"AL
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":0.0,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0}],"addresses":[{"id":0,"transactionId":0,"boundaryLevel":"Zip5","line1":"10
        Lovely Street","line2":"Northwest","line3":"","city":"Herndon","region":"AL","postalCode":"35005","country":"US","taxRegionId":2052474,"latitude":"33.593033","longitude":"-86.963152"},{"id":0,"transactionId":0,"boundaryLevel":"Zip5","line1":"822
        Reed St","line2":"","line3":"","city":"Philadelphia","region":"PA","postalCode":"19147","country":"US","taxRegionId":4014900,"latitude":"0","longitude":"0"}],"summary":[{"country":"US","region":"AL","jurisType":"State","jurisCode":"01","jurisName":"ALABAMA","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Use","taxName":"AL
        STATE TAX","rateType":"General","taxable":0.0,"rate":0.0,"tax":0.0,"taxCalculated":0.0,"nonTaxable":10.0,"exemption":0.0}]}'
  recorded_at: Tue, 23 Apr 2019 11:03:45 GMT
[...]
